/*
 * Cette CSS contient tout ce qui ne rentre pas dans 
 * les autres fichiers CSS spécifiques (city.css...)
 */

body {
    max-width:50em;
    margin:auto;
    padding:0.5em;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
}
h1 {
    text-align:center;
    margin:0;
    font-family:"Courier New";
}
.slogan {
    text-align:center;
    font-weight:bold;
    letter-spacing:0.1em;
    color:grey;
}

/* Menu horizontal du site */
#sitemenu {
    margin:2em;
    text-align:center;
    font-weight:bold;
}
#sitemenu a {
    padding:0.5em;
    white-space:nowrap;
}
.circle {
    /* Cercle de séparation dans les menus horizontaux */
    font-size:130%;
}

h2 {
    color:navy;
    margin-top:1em;
}
h3 {
    color:navy;
    margin-top:3em;
}
/* 
 * a = les liens HTML classiques
 * .formlink = boutons de formulaire caché (notamment pour appeler l'API)
 */
a, .formlink {
    text-decoration:none;
    color:darkred;
}
/* Force le curseur "main" même quand il n'y a pas l'attribut href */
a {
    cursor:pointer;
}
a:hover, .formlink:hover, .as_link:hover {
    color:red;
}

/* Centre les icônes verticalement par rapport à la ligne de texte */
p img {
    vertical-align:middle;
}

hr {
    margin-top:3em;
}
abbr {
    cursor:help;
}

/*
 * Listes
 */
li {
    line-height:1.4em;
}
.expanded li {
    padding-top:0.5em;
    padding-bottom:0.5em;
}
.items_list {
    text-align:left;
    padding-left:0;
    list-style-type:none;
}
.city_block .items_list {
    margin:0;
}

/* Etiquette pour un nom d'objet */
var {
    display:inline-block;
    width:11em;
    font-size:0.9em;
    margin: 0.1em;
    padding:0 0.3em;
    background:lightgrey;
    font-style:normal;
    border-radius:0.3em;
    white-space:nowrap;
    box-sizing: border-box;
}
var[class="key"] {
    /* Noms de clés dans la doc des API */
    width:auto;
}


.center {
    text-align:center;
}
.small {
    font-size:0.8em;
}
.bold {
    font-weight:bold;
}
.red {
    color:red;
}
.green {
    color:green;
}
.aside {
    /* Texte en aparté */
    display:block;
    margin-left:1em;
    padding:0.4em 0;
    font-size:80%;
    font-style:italic;
}
/* Met en évidence un mot important (par ex. dans la maison du citoyen) */
.highlight {
    color:darkblue;
}
/* Rend plus discrets les mots peu importants */
.discreet {
    color:grey;
}

/* Message d'erreur, ex : "Vous n'avez plus assez de PA"
   Important : utiliser les alias retournés par les API 
   (info, warning, critical) */
.warning, .critical {
    background:red;
    color:white;
}
.info {
    background:green;
    color:white;
}
