/*
 * CSS pour l'interface de l'intérieur de la ville (banque, chantiers...)
 */

/* Fond translucide pour masquer la carte */
#dark_background {
    position:absolute;
    /* left et right permettent de centrer malgré le position:absolute */
    left:0;
    right:0;
    width:100%;
    height:180%;
    background:black;
    border-radius:2%;
    opacity:0.85;
    z-index:5;
}
/* Place la ville par-dessus la carte */
#city_container {
    position:absolute;
    left:0;
    right:0;
    margin:2em 0;
    z-index:6;
    text-align:center;
}

/* Menu en haut de la ville (Réserves, construire, Sortir...) */
#city_menu .row {
    display:flex;
    justify-content:center;
    align-items: center;
}
#city_menu .row .item {
    display:flex;
    flex-direction:column;
    justify-content:center;
    width: 6em;
    height:5em;
    margin:0 0.2em 0.4em 0.2em;
    font-weight:bold;
    font-variant:small-caps;
    background:#ffebeb;
    color:darkred;
    border-radius:1.5em;
}
#city_menu .row .item:hover {
    background:darkred;
    color:white;
    cursor:pointer;
}
/* Boutons plus discrets du menu, empilés verticalement */
#city_menu .vertical .item {
    height:1.4em;
    width:6.5em;
    margin-bottom:0.25em;
}

/* Permet de mettre les blocs de la ville (banque, maison...) sur plusieurs lignes */
.city_row {
    /* C'est le javascript du menu de la ville qui les affichera en "flex" */
    display:none;
    justify-content:center;
}
/* Bloc contenant un petit texte explicatif de la partie de la ville où on se trouve */
.city_description {
    width:93%;
    margin:auto;
    margin-top:1em;
    padding:0.2em;
    background:white;
    border-radius:0.5em;
}
/* 1 pour la banque, 1 pour le puits, etc. */
.city_block {
    background:white;
    border-radius:0.5em;    
    margin:1em;
    padding:0 0 1em 0;
    width:15em;
    min-height:12em;
    box-sizing:border-box;
}
.city_block h2 {
    margin:0 0 0.5em 0;
    padding-bottom:0.1em;
    border-bottom:1px solid grey;
    border-radius:0.3em 0.3em 0 0; 
    color:grey;
    background:lightgrey;   
    font-variant:small-caps;
}
/* Contenu du bloc, sous le titre du bloc */
.city_block .contents {
    padding:0 0.5em;
}
.city_block hr {
    margin:0.8em 0;
    height:1px;
    border:none;
    border-bottom:1px solid grey;
}
/* Noms des chantiers */
.city_block h3 {
    margin: 0.3em;
    color:navy;
    font-size:1em;
    text-align:left;
    letter-spacing: 0.02em;  
}
.city_block table {
    margin:0 0.1em;
}
.city_block td {
    border:none;
}

/* Liste des citoyens */
#citizens_list {
    width:18em;
}
#citizens_list div {
    text-align:left;
    padding:0.6em 0.5em;
    border-bottom:1px solid grey;
}
#citizens_list div:hover {
    cursor:pointer;
    background:lightgrey;
}
#citizens_list a:hover {
    color:darkred;
}
/* Bouton pour retourner à la liste des citoyens lorsqu'on est dans une maison */
.back_button {
    float:left;
    width:      1.3em;
    height:     1.3em;
    line-height:1.4em;
    margin-top:0.3em;
    font-size:1.1em;
    border:2px solid darkred;
    border-radius:1em;
    color:darkred;
    cursor:pointer;
    box-sizing:content-box;
}
.back_button:hover {
    background:darkred;
    color:white;
}

/* Chaque nom de ressource d'un chantier a une barre de prgression */
.progressbar_empty {
    /* Pas de marges gauche/droite afin que la barre de remplissage recouvre bien tout */
    padding:0;
}
/* Remplissage coloré de la barre de progression */
.progressbar_filling {
    display:block;
    /* On rétablit la marge gauche/droite qu'on avait supprimée, afin que le texte 
       ne soit pas collé à gauche mais tout en laissant le remplissage 
       commencer complètement à gauche */
    padding:0 0.3em;
    box-sizing: border-box;
    /* Même valeur que le fond vide de la barre */
    border-radius:0.3em;
    /* Emêche la barre de dépasser 100% s'il y a plus de ressources qu nécessaire.
       La largeur réelle de la barre pour chaque ressource est calculée en PHP */
    max-width:100%;
}



/*
 * Visual interface for the city (with big icons)
 */
#city_visual {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    width: 26em; /* Same width as the map */
    background:black;  
    border:1px solid black;
}
#city_visual>div {
    display:flex;
    align-items:center;
    justify-content: center;
    width: 7em;
    height:7em;
    text-align:center;
    border-radius:50%;
    background:#d7ccc8;
    opacity:0.5;
    box-sizing:border-box;
}
#city_visual>div:hover, #city_visual>div.selected {
    opacity:1;
    border:0.15em solid red;
    cursor:pointer;
}
/* Name of the block (home, bank...) when the mouse hovers the block */
#city_visual>div .label {
    display:none;
    position:absolute;
    padding:0 0.5em;
    opacity:0.8;
    width:10%;
    border:1px solid black;
    border-radius:2em;
    background:lightgrey;
    font-variant:small-caps;
}
#city_visual>div:hover .label {
    display:block;
}

#city_visual .big_icon {
    font-size:3em;
}

#city_visual .road {
    height:2.2em;
    width: 2.2em;
    color:white;
    background:none;
}
#city_visual .road_vertic {
    height: 2.2em;
    color:white;
    background:none;
}
#city_visual .road_vertic img {
    height:100%;
}
#city_visual .road:hover, #city_visual .road_vertic:hover {
    border:none;
}

#city_visual .hidden {
    visibility:hidden;
}

/* With one unique image of arrow (to down), we build 4 directions arrows by rotation */
.arrow_left {
    transform:rotate(90deg);
}
.arrow_right {
    transform:rotate(-90deg);
}

/* Draws the well */
#city_visual .well {
    width:3em;
    padding:0.4em 0.2em;
    font-size:0.55em;
    border:0.6em solid #455a64;
    border-top:1px solid lightsteelblue;
    border-radius:0 0 0.4em 0.4em;
    background:lightblue;
}



/*
 * Chat (instant messagerie) integrated in the different parts of the city 
 * (constructions, bank...)
 */
#chat h2 {
    text-align:center; /* Main title of the block */
}
#chat .contents {
    text-align:left;
}
#chat nav {
    font-size:0.8em;
}

/* To send a message */
#chat textarea, #chat input[type="text"] {
    width:98%;
    border-radius:0.3em;
    border:1px solid grey;
}
#chat textarea {
    height:4em;
}
#chat input[type="submit"] {
    width:100%;
    padding:0.1em;
    border:none;
    background:#8b0000;
    color:white;
    border-radius:0.4em;
    font-weight:bold;
    font-variant: normal;
    letter-spacing:0.03em;
}
#chat input[type="submit"]:hover {
    background:#b03a2e;
}

/* Common presentation for discussions and events */
#chat .topic {
    margin:0.7em 0;
    border-radius:0.3em;
}
#chat h3 { /* Topic title */
    margin:0;
    padding:0.1em 0;
    color: white ;
    border-radius:0.3em 0.3em 0 0;
}
#chat .message {
    margin-top:0.2em;
    padding:0.3em 0.2em;
    background: #f6ddcc ;
    border-radius:0.3em;
}
#chat .time {
    font-size:0.7em;
    color:grey;
    cursor:help;
}
#chat .text {
    font-size:0.9em;
}
#chat .link_other_messages { /* Link "show other message" in truncated discussions */
    display:block;
    margin-top:0.1em;
    text-align:center;
    font-size:0.8em;
    color:lightgrey;
}

/* Specific presentation for the discussions */
#chat .discuss  {
    background:#273746; /* #7b241c #34495e */
    padding:0.1em;
}
#chat .discuss .time {
    margin-left:2.1em;
}
#chat #send {
    padding:0.1em;
}
#chat #send .message {
    margin:0;
}

/* Specific presentation for the events */
#chat .event  {
    margin:0.7em 0;
    padding:0.7em 0;
    border-radius:0;
    border-top: 1px solid grey;
}
#chat .event .message {
    padding:0;
    background:none;
}
#chat .comment .text {
    margin-left:1.5em;
    padding:0.2em;
    background:#f6ddcc;
    border-radius:0.3em;
    font-size:0.8em;
}

