/*
 * Cette CSS définit la disposition des blocs composant la page du jeu
 * (carte, pavé de déplacement, contôle de zone...)
 */

/* Bloc contenant la carte et les blocs d'action (nombre de zombies, sac...) */
#game_container {
    position:relative;
    background:url('../img/metal.jpg');
    border:1px solid grey;
    border-left:none;
    border-right:none;
    padding:0 0.2em;
    /* Garantit que les éléments sous la carte (liste des inscrits...) ne remontent
       pas dans la colonne à droite de la carte */
    height:55.5rem;
    margin-bottom:3rem;
    /* Au cas où l'enceinte de la ville descendrait trop bas
      (notamment si liste des chantiers trop longue)
       Désactivé pour le moment car cache les infobulles en haut de la carte */
    /*overflow:auto; */
}

#column_right {
    min-height:16em;
    margin-bottom:1em;
    margin-left:27rem;
}

/* Règles du jeu sous la carte */
#rules {
    padding:0 1rem;
}

/* La barre de connexion en haut de la page */
#connectionbar {
    text-align:center;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
}
#connectionbar .button {
    display:inline-block;
    padding: 0.1em 0.4em;
    border-radius:1em;
    margin:auto 0.2em;
    background-color:navy;
    color:white;
    font-size:120%;
    font-weight:bold;
    font-variant:small-caps;
    border:2px solid white;
}
#connectionbar .button:hover {
    border:2px solid red;
}
#connectionbar .button:focus {
    outline:none;
}
#connectionbar form {
    display:inline;
    margin-left:1em;
}

/* Bar at the top of the map, containing the map number, the notifications button, etc. */
#gamebar {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    margin-bottom:0.3em;
    padding:0 0.2em;
    /* To be sure that the width of the child block will be relative 
       to the width of #notif and not the width of the browser window */
    position:relative;
}
#gamebar #Outside {
    color:darkblue;
    font-size:1.2em;
    font-weight:bold;
}
#gamebar #notifsButton {
    margin-top:0.2em;
    margin-left:-5rem; /* Quick fix to keep centered despite that the refresh button is less wide */
    padding:0.1em 0.4em;
    border:1px solid darkred;
    border-radius:2em;
}
#gamebar #notifsButton ::selection {
    background:none;
}
#notifsBlock {
    display:none;
    position:absolute;
    left:25%;
    right:25%;
    width:50%;
    z-index:50;
    margin-top:-0.3em;
    padding:0 0.5em;
    background:#fbeee6;
    border:4px solid darkred;
    border-radius:0.3em;
    box-shadow: 0px 5px 20px black;
}
#notifsBlock #notifsClose {
    display:block;
    position:absolute;
    right:-1.4rem;
    top:  -1.4rem;
    text-align:center;
    font-size:1.3em;
    line-height:2.2rem;
    height:     2.2rem;
    width:      2.2rem;
    background:darkred;
    border-radius:2em;
    color:white;
}
#notifsBlock .notif {
    display:block;
    padding:0.7em 0 0.9em 0;
    border-bottom:1px solid #212f3d;
    color:#566573;
    font-size:0.9em;
    word-wrap:break-word;
}
#notifsBlock .notif:hover {
    background:ivory;
}
.notif .extract {
    margin:0.5em 0 0 1.5em;
    color:grey 
}
.notif .date {
    margin-top:0.8em;
    text-align:right;
    color:grey;
    font-size:0.7em;
}


/* Bloc invitant à se connecter ou à créer son 1er citoyen à droite de la carte */
#identification_near_map {
    height:18em;
    margin-bottom:2rem;;
    box-shadow: 0px 15px 20px black;
    color:white;
    text-align:center;
    overflow:hidden;
    border-radius:0.5rem;
    background: linear-gradient(to bottom right, #3f51b5 30%, #17202a );
    position:relative;
    z-index:4;
}
#identification_near_map #register {
    display:block;
    width:9em;
    margin:2rem auto 2rem auto;
    padding:0.2em 0.5em;
    border-radius:1rem;
    border:1px solid white;
    background:ivory;
    font-size:1.3em;
    font-weight:bold;
}
#identification_near_map #connect {
    color:#cd6155;
    font-size:1.2em;
}
#identification_near_map #register:hover {
    background:darkred;
    color:ivory;
}
#identification_near_map #connect:hover {
    color:red;
}
/* Choix du métier du citoyen */
#specialities {
    display:none;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    max-width:33rem;
}

/* Barre des états au dessus de la carte */
#citizen_caracs {
    margin-bottom:1.5em;
    padding-bottom:0.4em;
    text-align:center;
}
.hl_carac {
    font-weight:bold;
    font-size:110%;
    color:green;
}

/* Boutons de déplacement du joueur */
#movement_paddle {
    float:left;
    margin-left:1%; /* No margin:auto because Chrome centers the paddle over the floating text */
    width: 7.8rem; /* Fixed width to avoid crushing the paddle when downsizing the window */
    height:7.8rem;
    border-collapse:collapse;
    text-align:center;
    background-image:url("../img/hexagon.png");
    background-repeat:no-repeat;
    background-size:3em;
    background-position: center;
}
#movement_paddle td {
    padding:0;
    /* Assure un écartement symétrique des flèches */
    width:2em;
    height:2.5em;
    box-sizing:border-box;
}
#movement_paddle input {
    min-width:0;
    padding:0;
    font-size:1.8em;
    color:darkred;
    background:none;
    border:none;
}
#movement_paddle input:hover {
    color:red;
}
/* L'hexagone central entre les flèches */
#movement_paddle #central {
    cursor:pointer;
}
/* Message under the movement paddle */
#message_move {
    min-height:2rem;
    margin-bottom:1rem;
    text-align:center;
}

#movement_ap {
    margin-left:auto;
    width:12.5rem;
    text-align:right;
}
#actionpoints {
    display:block;
    padding:0 0.5em 0.3em 0.5em;
    box-shadow:4px 4px 6px black;
    background:green;
    color:white;
    opacity:0.9;
}
#movement_cost {
    display:block;
    margin:0.2em 0 0 0.3em;
    padding:0.3em 0.5em 0.2em 0.3em;
    background:lightgrey;
    color:grey; 
}

/* 
 * Actions at the right of the map
 */
/* The big round action buttons with icon */
#round_actions {
    float:right;
    width:24rem;
    padding:1rem 0 1rem 0;
    text-align:center;
    white-space:nowrap;
}
.round_action_block {
    position:relative;
    display:inline-block;
    margin-right:0.1rem;
    background:#34495e;
    border-radius:0.2rem;
}
.round_action {
    height:3.5rem;
    width: 3.5rem;
     /* Bigger margin at the right and bottom to compensate for the feeling 
        of asymetry caused by the shadow */
    margin:0.4rem 0.5rem 0.7rem 0.4rem;
    padding:0;
    font-size:1.7em;
    background:#c0392b;
    border:3px outset #f5b7b1;    
    border-radius:3em;
    box-shadow:5px 5px 5px black;
}
.round_action:focus {
    outline:none; /* Chrome adds an ugly outline when button is clicked */
}
.round_action:hover, .active .round_action {
    position:relative;
    left:2px;
    top: 1px;
    box-shadow:2px 2px 4px black;
}
.round_action.inactive {
    background:grey;
    border-color:grey;
    opacity:0.7;
}
.active .round_action, .active .round_action:hover {
    background:#d6eaf8;
    border:3px inset white; /*#808b96*/
    box-shadow:1px 1px 2px white;
    opacity:1;
}
#round_actions label {
    display:block;
    padding:0.1em 0;
    background:grey;
    font-size:0.9em;
    color:white;
}
#round_actions .active label {
    background:#283747;
}
#round_actions .dot_number {
    position:absolute;
    right:0;
    bottom:1rem;
    min-width:1rem; /* Not simply "width" to avoid overflow with 3-digits numbers */
    height:   1rem;
    padding:0.1em;
    font-size:0.9em;
    border-radius:1rem;
    background:#fae5d3;
    color:black;
    z-index:0;
}
#round_actions .alert_icon {
    position:absolute;
    bottom:1rem;
    right:-0.15rem;
    background:none;
    font-size:1.3em;
    text-shadow:0px 0px 5px black;
    opacity:0.1; /* To play the animation in the right way */
    animation: alert_blinker 1.5s linear infinite;
    animation-direction: alternate;
}
/* The maskable frames which contain the actions buttons */
#actions fieldset {
    display:none;
    position:relative;
    width:90%;
    margin:0 auto 3rem auto;
    padding-top:1rem;
    padding-bottom:2rem;
    border:1px solid #34495e;
    border-radius:0.3rem;
    box-shadow:5px 5px 8px black;
    background:#fbeee6;
    z-index:20;
}
legend {
    margin:auto;
    padding:0.05em 0.4em 0.1em 0.4em;
    font-weight:bold;
    font-variant:small-caps;
    border-radius:0.3rem;
    background:#34495e;
    color:white;
}

#block_zombies {
    text-align:center;
}
#block_zombies .zombie {
    margin:0 0.05em;
    font-size:1.4em;
    text-shadow:2px 2px 2px red;
    border-radius:1em;
    cursor:default;
}
.zombie::selection {
    background:none;
}
#zombies_visual {
    width:50%;
    margin:0.2em auto 0.5em auto;
    padding:0.3em 0 0.4em 0;
}


/* Empty slot for an item in the bag */
.empty_slot {
    background:none;
    border:1px solid grey;
    text-align:center;
    color:grey;
    margin-left:2em;
}

/* Listes d'objets */
.items_list {
    text-align:left;
    margin-top:0.2rem;
    padding-left:0;
    list-style-type:none;
}
.city_block .items_list {
    margin:0;
}

/* Etiquette pour un nom d'objet */
var {
    display:inline-block;
    width:11em;
    font-size:0.9em;
    margin: 0.1em;
    padding:0 0.3em;
    background:lightgrey;
    font-style:normal;
    border-radius:0.3em;
    white-space:nowrap;
    box-sizing: border-box;
}

/*
 * Bloc "Utiliser un objet de mon sac"
 */
#actions_bag {
    margin-top:0.5em;
    padding:0.2em 0.5em;
    text-align:left;
    background:lightsteelblue;
    border-radius:0.5em;
    border:1px solid grey;
    box-shadow:5px 5px 10px black;
}
#actions_bag ul {
    margin:0.2em 0;
    list-style-type:none;
}

/*
 * Boutons
 */
input[type="submit"] {
    cursor:pointer;
}
.redbutton {
    height:2em;
    min-width:11em;
    border-radius:2em;
    background:darkred;
    color:white;
    border:1px solid grey;
    box-shadow:3px 3px 5px black;
    font-size:0.9em;
    font-variant:small-caps;
    min-width:11em;
    cursor:pointer;
}
.redbutton:hover {
    border-style:inset;
    background:#CC0000;
}
.redbutton.inactive {
    background:grey;
    text-decoration:line-through;
}

/* Bouton de dépôt d'objet avec un aspect moderne et non le défaut HTML en relief */
.drop_button {
    background:lightsteelblue;
    border:none;
    vertical-align:middle;
    height:1.3em;
    width: 1.3em;
    line-height:1em;
    padding:0;
    border-radius:30%;
    font-size:1.1em;
}
.drop_button:hover {
    background:darkred;
    color:white;
}

/* To display the form buttons (<input>) as simple links (<a>) */
.formlink {
    display:inline;
}
.formlink input {
    min-width:0;
    text-align:left;
    background:none;
    border:none;
    box-shadow:none;
    padding:0;    
    font-size:0.95em;
    font-family:sans-serif;
    font-variant:normal;
    font-weight:bold;
    color:darkred;
}
.formlink input:hover {
    color:red;
    background:none;
    border:none;
}


/*
 * Bloc rouge indiquant que le joueur est bloqué par les zombies
 */
#alert_control {
    margin-left:0;
    margin-bottom:1rem;
    border:2px outset black;
    text-align:center;
    background:#a93226;
    animation: fadein 2.8s;
    box-shadow:0px 2px 15px black;
}
.cover_paddle { /* Covers the movement paddle */
    position:absolute;
    top:-2rem;
    width:93%;
    z-index:1;
}
#alert_control .title {
    padding:0.3em 0;
    background:#940a0a;
    color:white;
    font-weight:bold;
}
#alert_control .text {
    padding:0.8em 0.5em;
    font-size:0.9em;
    color:#fbeee6;
    max-height:9rem; /* Must not cover the contextual actions (enter in city...) */
    overflow:auto;
}
#alert_control a {
    font-size:0.8em;
    color:orange;
}
#alert_escape {
    position:static;
}

@keyframes fadein {
    0%   { opacity: 0;   }
    100% { opacity: 1;   }
}

/* Affiche l'état "blessé" sous les flèches de déplacement */
#alert_wounded {
    display:block;
    margin:auto;
    margin-top:0.1rem;
    padding:0 0 0.3rem 0.2rem;
    background:#6c3483;
    text-align:left;
    color:white;
    box-shadow:3px 3px 4px black;
}
#alert_wounded .alert_sign {
    font-size:1.1em;
    opacity:0.1; /* To play the animation in the right way */
    animation: alert_blinker 1.5s linear infinite;
    animation-direction: alternate;
}
#alert_wounded .link {
    font-size:0.8em;
    color:orange;
}

/*
 * Etiquette pour nom d'utilisateur (icône + pseudo sur fond coloré)
 */
.userlabel {
    display:inline-block;
    height:1.4em;
    margin:0.1em 0;
    padding-right:0.8em;
    width:8em;
    white-space:nowrap;
    border:1px solid green;
    border-radius:1em;
    background:green;
    color:white;
}
.userlabel .avatar {
    display:inline-block;
    height:1.4em; /* Height and width must be equal to the height of .userlabel */
    width: 1.4em;
    border-radius:1em;
    text-align:center;
    background:lightgreen;
} 

/* Message d'erreur, ex : "Vous n'avez plus assez de PA"
   Important : utiliser les alias retournés par les API 
   (info, warning, critical) */
.critical {
    background: red;
    border-radius: 3px;
    color: white;
    display: block;
    padding: 6px 12px;
    text-align: justify;
    white-space: break-spaces;
    word-break: break-all;
}
.warning {
    background: #7d3c98 ;
    color:white;
}
.info {
    background:green;
    color:white;
}

/* Discreet text to say that the zone has no zombies or no citizens, etc */
.greytext {
    text-align:center;
    font-style:italic;
    color:grey;
}


/* Effet de clignotement */
@keyframes alert_blinker {
    50% {
        opacity: 1;
    }
}
