/*
 * CSS de la carte
 */
#map {
    float:left;
    margin:0 0.2em 3em 0;
    padding:0 1em 1em 1em;
    border-radius:0.5em;
    background:repeating-linear-gradient(0.38turn, black, black 2px, #17202a 2px, #17202a 4px);
    box-shadow: 5px 5px 10px black;
    overflow:auto;
    max-width:95%;
    /* Pour que la largeur de la ville en surimpression soit calculée 
       par rapport celle la carte et pas à celle de la page */
    position:relative;
}
#map ::selection {
    background:none;
}

#map_header {
    margin-bottom:1.5em;
    text-align:center;
    font-size:0.9em;
}
#map_header span {
    padding:0 0.5em 0.2em 0.5em;
    background:darkred;
    border-radius:0 0 0.8em 0.8em;
    color:white;
    font-weight:bold;
    opacity:0.7;
}
#map_header span:hover {
    cursor:pointer;
    opacity:1;
}

#map .row {
    white-space:nowrap;
    /* On remonter l'hexagone pour l'emboîter dans la ligne du dessus.
       Mieux qu'une position relative "top:-1em", qui créerait un gros blanc 
       sous la carte. */
    margin:-0.95em;
}
.hexagon, .not_visited {
    
    /* TEMPORAIRE */
    __border:1px solid red;
    
    background-image:url("../img/craftpix/desert/1.png");
    background-repeat:no-repeat;
    background-size:100%;
    text-align:center;
    cursor:default;
    display:inline-block;
    /* La largeur détermine la taille de l'hexagone */
    width:        2.4em;
    /* La hauteur va dépendre de la largeur : une bordure devra arriver 
    pile à la pointe du bas de l'hexagone */
    height:       3.1em;
    /* Assure que le conteneur intérieur ne déborde pas en bas
    (tracer une bordure sur square_container) )*/
    line-height:2.55em;
    /* Evite que les éventuelles marges intérieures agrandissent le conteneur */
    box-sizing: border-box;
}
.square_container {
    
    /* Pour le débogage : décommenter cette ligne pour afficher le conteneur*/
    /* border:1px solid green; */
    
    /* La largeur doit inscrire la bordure de .square_container 
    pile dans celle de .hexagon */
    width:  2.2em;
    /* La hauteur doit être égale à la largeur pour garantir 
    que le conteneur sera parfaitement carré */
    height: 2.2em;
    /* Evite que les éventuelles marges intérieures agrandissent le conteneur */
    box-sizing: border-box;
    /* Centre le conteneur horizontalement */
    margin:auto;
    /* Hack CSS pour centrer le conteneur verticalement */
    position: relative;
    top: 45%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    /* Centrage des éléments à l'intérieur de la case */
    display:flex;
    flex-direction: column;
    /* Recentre verticalement le texte à l'intérieur du conteneur.
    Calibrage: le fond coloré sous le texte doit toucher la bordure du bas du conteneur. */
    line-height:2.2em;
}
.tent {
    color:green;
    font-size:150%;
    line-height:120%;
    position:relative;
    top:0.10em;
}
#map .zombies {
    font-weight:bold;
    color:darkred;
}

/*
 * Bulles d'information sur la carte
 */
.bubble {
    display:none;
    position:absolute;
    bottom:3.2em;
    left:-7em;
    line-height:1em;
    width:17em;
    padding:0.3em;
    text-align:left;
    white-space: normal;
    hyphens: auto;
    background:darkred;
    color:white;
    border:1px solid red;
    border-radius:0.4em;
    font-family:Calibri;
    font-size:0.8em;    
    box-shadow: 12px 12px 12px black;
    z-index:2;
}
.triangle_down {
    width:0;
    height:0;
    border-left: 0.6em solid transparent;
    border-right:0.6em solid transparent;
    border-top:  1em solid red;
    position:absolute;
    left:7.8em;
    bottom:-1em;
    z-index:2;
}


/* Symbole indiquant la présence d'objets sur la case */
.items {
    position:absolute;
    font-size:80%;
}
/* Les cases non encore explorées sont en plus sombre */
.not_visited {
    background-image:url("../img/hexagon_dark.png");
}
/* Crypte */
.vault {
    border-radius:50%;
    background:antiquewhite;
}
/* Symbole d'un citoyen sur la carte hexagonale */
.map_citizen {
    border-radius:50%;
    font-weight:bold;
    background:lightsteelblue;
    height:100%;
}
#me {
    background:lightgreen;
    animation: blinker 2s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0.1;
    }
}
/* Ligne de zombies (zombies de l'attaque') */
.hurd {
    display:block;
    position:absolute;
    margin-top:-1em;
    z-index:1;
}
.hurd .icon {
    position:absolute;
    margin-left:0.35em;
    font-size:1.5em;
    z-index:2;
}
.hurd .triangle {
    position:relative;
    top:2.4em;
    /* Crée un triangle en CSS */
    width:0;
    height:0;
    border-left: 1.25em solid transparent;
    border-right:1.25em solid transparent;
    border-top:2em solid red;
}

.halo {
    border: 3px solid green;
    border-radius: 50%;
    height:85%;
    margin-top:-2.2em;
}

/* Le triangle derrière la ville */
.city_bg {
    width:0;
    height:0;
    position:absolute;
    top:-20%;
    left:-22%;
    opacity:0.8;
    border-left:   1.6em solid transparent;
    border-right:  1.6em solid transparent;
    border-bottom: 2.6em solid green;
    z-index:-1;
}
.city_nbr_def {
    position:relative;
    top:-1.8em;
    color:white;
    font-weight:bold;
    font-size:0.8em;
}

/* Puce de localisation sur la carte */
.location {
    height:2em;
    position:absolute;
    margin-left:-1em;
    margin-top:-3.2em;
}
