/*
 * Pop-up ouvrable et fermable sans javacript. Elle s'affiche lorsque
 * l'ancre dans l'url correspond à l'id HTML de la pop-up.
 * Code issu de https://codepen.io/imprakash/pen/GgNMXO
 * Pure css popup box - Auteur : Prakash 
 * Avec des modifications perso (délais, taille...)
 */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index:60;
}
.overlay:target, /* Display popup when the anchor is in the url */
.force_visibility /* Force the popup to display even without the anchor  */
{
    visibility: visible;
    opacity: 1;
}
.popup {
    max-width: 30em;
    max-height:75%;
    overflow: auto;
    margin: 5% auto;
    padding: 1em 0.5em;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 250ms ease-in-out;
}
.popup h2 {
    text-align:center;
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup hr {
    margin-top:1em;
    border:none;
    border-bottom:1px solid grey;
}
.popup .close {
    position: absolute;
    top:   0.1em;
    right: 0.1em;
    height:     0.9em;
    width:      0.9em;
    line-height:0.9em;
    text-align:center;
    font-size: 30px;
    text-decoration: none;
    background:darkred;
    border-radius:1em;
    color:white;
    transition: all 200ms;
}
.popup .close:hover {
    /*color: #06D85F;*/
    background:red;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

.popup ul {
    margin: 0;
    padding: 0;
    padding-left: 1em;
    list-style-type: none;
}
/* Description d'ambiance */
.popup .rp {
    font-size:0.95em;
    font-style: italic;
    margin-top:0;
}

/*
 * Texte présenté avec des icônes d'étapes (icônes reliées par une ligne verticale)
 */
.popup .stageblock {
    display:flex;
    margin-left:1em;
/*    border-left:3px solid lightgrey;*/
}
.popup .stageicon {
    height:1.4em;
    min-width:1.3em;
    padding:0.2em;
    padding-top:0;
    font-size:1em;
    text-align:center;
    background:white;
/*    border:2px solid lightgrey;*/
    border-radius:1em;
    z-index:20;
}
.popup .stagetext {
    padding:0.1em 0 1em 0.2em;
}
.popup .stagetext, .popup .stageicon {
    /*Force l'icône à se placer devant le trait vertical du bloc texte*/
    position:relative;
    left:-1em;
}
