/*
 * CSS pour l'interface de l'intérieur de la ville (dépôt, chantiers...)
 */

/* Fond translucide pour masquer la carte */
#dark_background {
    position:absolute;
    /* left et right permettent de centrer malgré le position:absolute */
    left:0;
    right:0;
    width:100%;
    height:61rem;
    background:black;
    border-radius:0.5rem;
    opacity:0.85;
    z-index:30;
}
/* Place la ville par-dessus la carte */
#city_container {
    position:absolute;
    left:0;
    right:0;
    /*margin:1em 0;*/
    z-index:31;
    text-align:center;
}

/* 
 * Menu en haut de la ville (Réserves, construire, Sortir...)
 */
#city_tabs {
    margin-bottom:0.7em;
    font-weight:bold;
    color:darkred;
}
#city_tabs a {
    color:red;
}
#city_tabs a:hover {
    padding-bottom:0.2em;
    border-bottom:2px solid red;
}

#city_submenus {
    display:flex;
    justify-content: center;
}
#city_submenus .row {
    display:flex;
    justify-content:center;
}
#city_submenus .row .item {
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    overflow:hidden;
    width: 5em;
    height:5em;
    /*margin:0 0.2em 0.4em 0.2em;*/
    font-weight:bold;
    background:#ffebeb;
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    color:darkred;
    border:2px outset black;
    border-radius:0.3em;
    cursor:pointer;
}
#city_submenus .label {
    background:ivory;
    line-height:1.2em;
}
#city_submenus .row .item:hover,
#city_submenus .row .item:hover .label {
    background-color:darkred;
    color:white;
}
/* Boutons plus discrets du menu, empilés verticalement */
#city_submenus .vertical .item {
    height:1.3em;
    width:6.5em;
    margin-bottom:0.25em;
    font-variant:small-caps;
}

/* Permet de mettre les blocs de la ville (dépôt, maison...) sur plusieurs lignes */
.city_row {
    display:flex;
    justify-content:center;
}
/* Block containing a title for the section of the city where we are */
.city_bandeau {
    width:93%;
    margin:auto;
    margin-top:1em;
    padding:0.2em;
    background:white;
    border-radius:0.5em;
}
/* 1 block for the storage, 1 for the well, etc. */
.city_block {
    position:relative;
    background:white;
    border-radius:0.4em;    
    margin:1em;
    padding:0 0 1em 0;
    width:15em;
    min-height:12em;
    box-sizing:border-box;
}
.city_block .icon {
    position:absolute;
    top: -1em;
    left:-1em;
    border:3px outset lightgrey;
    border-radius:50%;
    height:64px;
}
.city_block h2 {
    margin:0;
    padding:0.3em 0.2em;
    border-top:1px solid lightgrey;
    border-radius:0.3em 0.3em 0 0; 
    font-size:1.5em;
    background:#34495e;
    color:white;
    font-variant:small-caps;
    box-shadow:4px 4px 8px black;
}
.city_block .descr {
    margin: 0.8em 0.3em 1.5em 0.3em;
    padding:0.5em 0.2em;
    font-size:0.85em;
    font-style:italic;
    /*border-bottom:1px solid grey;*/
    border-radius: 0.8em 0.8em;
    background:#fbeee6;
    box-shadow:4px 4px 8px black;
}
/* Contenu du bloc, sous le titre du bloc */
.city_block .contents {
    padding:0 0.5em;
}
.city_block hr {
    margin:0.8em 0;
    height:1px;
    border:none;
    border-bottom:1px solid grey;
}
/* Noms des chantiers */
.city_block h3 {
    display:flex;
    align-items:center;
    margin:0;
    color:navy;
    font-size:1em;
    text-align:left;
    letter-spacing: 0.02em;
    font-weight:bold;
}
.city_block table {
    margin:0 0.1em;
}
.city_block td {
    border:none;
}
.city_block .pulse {
    /* Fix for Materialize.css: the pulse must not be hidden by 
    the background of the block */
    z-index:1;
}
/* Button to hide all the city blocks */
.city_row>.close {
    top:4.5em;
    right:2%;
    border:2px solid white;
    border-radius:0.3em;
}

/* The table of the constructions in the city */
#constructions {
    border-collapse:collapse;
    width:98%;
    margin:0.2em;
}
#constructions tr {
    border:none;
}
#constructions td {
    margin:0.1em 0;
    padding:0 0;
}
#constructions .folded {
    margin-left:0.5em;
    padding-left:0.3em;
    border-left: 2px solid darkgrey;
    /*border-bottom: 1px solid darkgrey;*/
    border-bottom-left-radius: 0.5em;
}
#constructions .folded .aside {
    margin:0 0 0 0.2em;
    padding:0;
}
#constructions .folded .descr {
    padding:0.4em 0.4em;
    font-size:0.9em;
    background:lightgrey;
    border:none;
    border-radius: 0 0 0.2em 0.4em;
}
#constructions .items_list {
    flex-direction: column;
    gap:4px;
    padding:1em 0 0 0.5em;
    /*background:#fbeee6;*/
}
#constructions .item_label {
    align-items:center;
}
#constructions .items_list button {
    justify-content: flex-start;
    flex-wrap:wrap;
    height:96%;
    width:17em;
    margin:0;
    padding:0;
    white-space: nowrap;
    border:none;
    color:black;
    cursor:help;
}
/* Button combining progressbar + clickable (ex: button to give action points) */ 
#constructions .items_list .redbutton {
    color:white;
    cursor:pointer;
}

#constructions .amounts {
    justify-content:center;
    width:3em;
    height:100%;
    text-align:center;
    background:#f2f2f2;
    border:1px solid #FF8A65;
    border-radius:0.2em;
}
#constructions .amounts .available {
    font-size:1.2em;
}
#constructions .amounts .required {
    color:grey;
}

/* Column showing the buildings components in the constructions tree */
#constructions .defenses {
    width:30%;
    text-align:center;
    cursor:pointer;
}
#city_constructions .select-wrapper {
    display:inline-block;
    width:65%;
}
#constructions .components {
    flex-direction: row;
    gap:2px;
    margin-left:0.5em;
    padding:0;
}
#constructions .components .item_label {
    height:1.8em;
    width:1.8em;
    /*background:none;*/
}
#constructions .components img {
    height:24px;
    width: 24px;
}
#constructions .components .dot_number {
    background:none;
    top:  0rem;
    right:1px;
    text-align: right;
}

#constructions ul ul li {
    margin:0.5em 0 0.5em 1em;
}

/* The two bars comparing the defenses and the zombies */
#defenses_bar {
    display:block;
    position:relative;
    margin:0.5em 1px 2em 1px;
    text-align:left;
    white-space:nowrap;
    font-weight:bold;
}
#defenses_bar .bar_wrapper {
    display:flex;
    align-items:center;
}
#defenses_bar .bar_icon {
    display:flex;
    justify-content:center;
    align-items:center;
    height:2em;
    width:2.5em;
    background:darkgreen;
    border-radius:0 0.3em 0.3em 0;
}
#defenses_bar label {
    display:flex;
    font-size:0.9em;
    color:black;
}
#defenses_bar .bar_background {
    display:inline-block;
    background:darkgreen;
    text-align:center;
}
#defenses_bar .number {
    position:relative;
    padding:0 0.2em;
    width:2em;
    background:lightgreen;
    border:1px solid green;
    border-radius:0.2em;
    color:black;
    z-index:1; /* Avoid being covered by the other bar when the bar is very thin */
}
/* Specificities for the red zombies bar */
#defenses_bar .bar_background_zombies {
    background:darkred;
    border-left:1px solid white;
}
#defenses_bar .bar_background_zombies .number {
    background:salmon;
    border-color:darkred;
}
#defenses_bar .bar_icon_zombies {
    background:darkred;
    border-radius:0.3em 0 0 0.3em;
}

/* Foldable sections for lighter interface (e.g to hide the components in the workshop)*/
.city_block .foldable {
    position:relative;
    display:flex;
    height:4em;
    margin:0;
    padding-right:0.3em;
    border-radius:2em 0.3em 0.3em 2em;
    background:sandybrown;
    cursor:pointer;
    box-shadow:2px 2px 3px black;
}
.foldable:hover {
    box-shadow:1px 1px 1px black;
    top: 0.1em;
    left:0.1em;
}
.foldable ::selection {
    background:none;
}
.foldable .item_icon {
    height:48px;
    width: 48px;
    margin:0.5rem 0 0 0.1rem;
    background:#fbeee6;
    border-radius:50%;
    /* For textual icons (HTML entity) */
    text-align:center;
    font-size:2em;
    z-index:1;
}
.foldable .label {
    display:flex;
    flex-direction:column;
    justify-content:center;
    z-index:1;
}
.foldable .unfold_button {
    position:absolute;
    right:0;
    bottom:0;
    display:flex;
    align-items:center;
    font-size:0.8em;
}
.foldable .arrow {
    font-weight:bold;
}
.foldable .hierarchy {
    position:absolute;
    left:-1.8rem;
    font-size:2.5em;
    color:#CACFD2;
}

.foldable .progressbar_filling {
    position:absolute;
    /* Quick fix: force minimal components amount to avoid progressbar overflow 
       on the left when 0 component gathered */
    min-width:1.8em;
    border-top-left-radius:   8em;
    border-bottom-left-radius:8em;
}

/* Suggestions of constructions */
.construction_card h3 {
    margin-top:0.5em;
    height:2.2em;
    color:black;
    text-align:center;
    font-size:1.3em;
    letter-spacing:normal;
}
.construction_card h3 .item_icon {
    border-radius:50%;
}

/* Liste des habitants de la ville */
#citizens_list {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    margin-top:1rem;
}
#citizens_list .userLabel {
    position:relative;
    left:-10%;
    width:110%;
    border-bottom-right-radius:0;
}
#citizens_list .userLabel .tag {
    background:greenyellow;
    font-size: 1.1em;
    font-weight: bold;
}

#citizens_list .city_block {
    min-height:0;
    width:14rem;
    padding-bottom:0.4rem;
    margin:0 1rem;
    cursor:pointer;
}
#citizens_list ul {
    display:flex;
    justify-content:space-between;
    margin:1em 0.6em 0.5em 0.6em;
    font-size:0.9em;
    text-align:left;
}
#citizens_list li {
    display:flex;
    align-items:center;
    height:1.5rem;
}
#citizens_list .material-icons {
    font-size:1.5em;
    color:lightslategray;
}
#citizens_list .icons {
    margin-top:1em;
}
#citizens_list .icons img {
    border-radius:0.4em;
    border:2px solid darkred;
}
#citizens_list .empty_block {
    background:none;
    border:1px solid grey;
}

/* Bouton pour retourner à la liste des citoyens lorsqu'on est dans une maison */
.back_button {
    float:left;
    width:      1.3em;
    height:     1.3em;
    line-height:1.4em;
    margin-top:0.3em;
    font-size:1.1em;
    border:2px solid darkred;
    border-radius:1em;
    color:darkred;
    cursor:pointer;
    box-sizing:content-box;
}
.back_button:hover {
    background:darkred;
    color:white;
}

/* Remplissage coloré de la barre de progression */
.progressbar_filling {
    display:flex;
    align-items: center;
    height:100%;
    /* Minimal width to show the progress bar even when empty */
    min-width:0.5em;
    margin:0;
    box-sizing: border-box;
    /* Same value as the container of the bar */
    border-radius:0.3em;
}

/* Recommandations on the constructions page */
#to_constructions {
    min-width:auto;
    width:2.2em;
    margin-top:1em;
    font-weight:bold;
}

/*
 * Overview of the defenses of the city
 */
/* Default view (alert zombies > defenses) */
#city_defenses {
    line-height: 150%;
}
#city_defenses .material-icons {
    /* Fix for Materialize.css (style on "nav i")*/
    line-height:normal;
}
#city_defenses .shield {
    position:relative;
    display:flex;
    justify-content:center;
    margin:1rem 0 1rem 0;
}
#city_defenses .shield_icon {
    display:flex;
    justify-content:center;
    align-items:center;
    height:1.5em;
    width: 1.5em;
    font-size:4em;
    background:#EF5350;
    border:3px outset white;
    outline:1px solid lightgrey;
    border-radius:50%;
}
#city_defenses .alert_icon {
    position:absolute;
    top:35%;
    font-size:1.8em;
    z-index:1;
}
#city_defenses .alert_icon::before {
    content:"❗";
}
#city_defenses .defenses_missing,
#city_defenses .defenses_ok {
    font-size:1.1em;
    font-weight:bold;
    color:red;
}
#city_defenses .goto {
    margin-top:2em;
    margin-bottom:0.5em;
}

/* View for a safe city (zombies < defenses)*/
#city_defenses .safe .shield_icon {
    background:green;
}
#city_defenses .safe .defenses_ok {
    display:block;
    color:green;
}
#city_defenses .safe .alert_icon::before {
    content:"✅";
}

/*
 * Visual interface for the city (with big icons)
 */
#city_visual {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    width: 26em; /* Same width as the map */
    background:black;  
    border:1px solid black;
}
#city_visual>div {
    display:flex;
    align-items:center;
    justify-content: center;
    width: 7em;
    height:7em;
    text-align:center;
    border-radius:50%;
    background:#d7ccc8;
    opacity:0.5;
    box-sizing:border-box;
}
#city_visual>div:hover, #city_visual>div.selected {
    opacity:1;
    border:0.15em solid red;
    cursor:pointer;
}
/* Name of the block (home, storage...) when the mouse hovers the block */
#city_visual>div .label {
    display:none;
    position:absolute;
    padding:0 0.5em;
    opacity:0.8;
    width:10%;
    border:1px solid black;
    border-radius:2em;
    background:lightgrey;
    font-variant:small-caps;
}
#city_visual>div:hover .label {
    display:block;
}

#city_visual .big_icon {
    font-size:3em;
}

#city_visual .road {
    height:2.2em;
    width: 2.2em;
    color:white;
    background:none;
}
#city_visual .road_vertic {
    height: 2.2em;
    color:white;
    background:none;
}
#city_visual .road_vertic img {
    height:100%;
}
#city_visual .road:hover, #city_visual .road_vertic:hover {
    border:none;
}

#city_visual .hidden {
    visibility:hidden;
}

/* With one unique image of arrow (to down), we build 4 directions arrows by rotation */
.arrow_left {
    transform:rotate(90deg);
}
.arrow_right {
    transform:rotate(-90deg);
}

/* Draws the well */
#city_visual .well {
    width:3em;
    padding:0.4em 0.2em;
    font-size:0.55em;
    border:0.6em solid #455a64;
    border-top:1px solid lightsteelblue;
    border-radius:0 0 0.4em 0.4em;
    background:lightblue;
}

/*
 * Door of the city
 */
/* Default: the door is considered as open */
#city_door .status {
    display:block;
    margin-bottom:1em;
    padding-top:0.1em;
    background:green;
    color:white;
    box-shadow: 4px 4px 8px black;
}
#city_door .status strong {
    font-size:1.2em;
}
#city_door li {
    padding-left:0.2em;
    line-height:1.5em;
    text-align:left;
    font-size:0.9em;
    color:grey;
}
#city_door label {
    display:block;
    margin:1em 0 0.2em 0;
    font-size:1.1em;
    font-weight:bold;
}
#city_door hr {
    margin:1em 0;
}
/* When the door is closed */
#city_door .door_closed .status {
    background:darkred;
}
#city_door .door_closed .closed {
    display:inline;
}
