/*
 * Cette CSS définit la disposition des blocs composant la page du jeu
 * (carte, pavé de déplacement, contôle de zone...)
 */

/* Bloc contenant la carte et les blocs d'action (nombre de zombies, sac...) */
#game_container {
    position:relative;
    height:100vh;
    /*background:url('../img/metal.jpg');*/
    /*border:1px solid grey;*/
    border-left:none;
    border-right:none;
    padding:0 0.2em;
    /* Garantit que les éléments sous la carte (liste des inscrits...) ne remontent
       pas dans la colonne à droite de la carte */
    /*height:61rem;*/
    /*margin-bottom:3rem;*/
    /* Au cas où l'enceinte de la ville descendrait trop bas
      (notamment si liste des chantiers trop longue)
       Désactivé pour le moment car cache les infobulles en haut de la carte */
    /*overflow:auto; */
}

/* The unvariable data of the game (building names...) */
#configs {
    display:none;
}
/* Stores some useful data for javascript (citizen name...) */
#gameData {
    display:none;
}

/* Règles du jeu sous la carte */
#rules {
    padding:0 1rem;
}

/* La barre de connexion en haut de la page */
/*#connectionbar {
    text-align:center;
    border-top:1px solid lightgrey;
    border-bottom:1px solid lightgrey;
}
#connectionbar .button {
    display:inline-block;
    padding: 0.1em 0.4em;
    border-radius:1em;
    margin:auto 0.2em;
    background-color:navy;
    color:white;
    font-size:120%;
    font-weight:bold;
    font-variant:small-caps;
    border:2px solid white;
}
#connectionbar .button:hover {
    border:2px solid red;
}
#connectionbar .button:focus {
    outline:none;
}
#connectionbar form {
    display:inline;
    margin-left:1em;
}*/


#game_footer {
    position:sticky;
    bottom:0;
}
/* Bar above the map, showing the countdown before attack and the current day */
#attack_bar {
    position:relative;
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    max-width: 51.25em;
    border-top:1px solid grey;
    background:#4a235a;
    color:lightgrey;
    box-shadow:3px 3px 8px black;
    z-index:50;
}
#attack_bar ::selection {
    background:none;
}
#dayclock,
#showWall {
    display:flex;
    justify-content:center;
    align-items: center;
    height:3.5rem;
    margin:0.1rem;
    border:2px outset white;
    color:white;
    box-shadow: 3px 3px 5px black;
}
#dayclock {
    flex-direction:column;
    width: 3.5rem; /* Same as the height */
    line-height:1.4em;
    border-radius:2em;
}
#showWall {
    padding:0 0.3rem;
    border-radius:0.3em;
}
#showWall .icon {
    font-size:2em;
}
#showWall .icon .material-icons {
    font-size:1em;
    line-height:2em;
}
#showWall .text {
    padding:0.3em;
    font-variant: small-caps;
}
#timer button {
    flex-direction:column;
    height:3.1em;
    font-size: 1.1em;
    border:2px outset red;
    /*font-variant:small-caps;*/
}
#attackCountdown {
    font-size:1.3em;
    width:9rem; /* Fixed-width to avoid the temporary resizing while loading the timer */
}

#notifsButton {
    font-size:1.5rem;
}
#notifsBlock {
    display:none;
    position:absolute;
    bottom:3.5em;
    right:0;
    max-height:90vh;
    width:23.5rem;
    margin-top:0.7em;
    padding:0 0.5em;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align:left;
    background:#fbeee6;
    border:4px solid darkred;
    border-radius:0.3em;
    box-shadow: 0px 5px 20px black;
    box-sizing: border-box;
    z-index:50;
}
#notifsBlock #notifsClose {
    display:block;
    position:absolute;
    right:0;
    top:  0;
    text-align:center;
    font-size:1.3em;
    line-height:2.2rem;
    height:     2.2rem;
    width:      2.2rem;
    background:darkred;
    color:white;
}
#notifsBlock .notif {
    display:block;
    padding:0.7em 0 0.9em 0;
    border-bottom:1px solid #212f3d;
    color:#566573;
    font-size:0.9em;
    word-wrap:break-word;
}
#notifsBlock .notif:hover {
    background:ivory;
}
.notif .extract {
    margin:0.5em 0 0 1.5em;
    color:grey 
}
.notif .date {
    margin-top:0.8em;
    text-align:right;
    color:grey;
    font-size:0.7em;
}


/* Bloc invitant à se connecter ou à créer son 1er citoyen à droite de la carte */
#identification_near_map {
    position:fixed;
    bottom:0;
    width:100%;
    max-width:51.2em;
    padding:2.5em 0;
    box-sizing:border-box;
    box-shadow: 0px 15px 20px black;
    border-top:2px solid white;
    color:white;
    text-align:center;
    border-radius:0.5rem;
    background: linear-gradient(to bottom right, #3f51b5 30%, #17202a );
    z-index:60;
}
#identification_near_map #register {
    display:block;
    width:9em;
    margin:2rem auto 2rem auto;
    padding:0.2em 0.5em;
    border-radius:0.3em;
    border:1px solid white;
    background:ivory;
    font-size:1.3em;
    font-weight:bold;
}
#identification_near_map #connect {
    padding:0.2em 0.3em;
    font-size:1.2em;
    background:white;
    border-radius:0.3em;
}
#identification_near_map #register:hover {
    background:darkred;
    color:ivory;
}
#identification_near_map #connect:hover {
    color:red;
}
/* Choix du métier du citoyen */
#specialities, #capacities {
    display:none;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    max-width:33rem;
}

/* Barre des états au dessus de la carte */
#citizen_caracs {
    margin-bottom:1.5em;
    padding-bottom:0.4em;
    text-align:center;
}
.hl_carac {
    font-weight:bold;
    font-size:110%;
    color:green;
}

/* Boutons de déplacement du joueur */
#block_move .main_block {
    display:flex;
}
#movement_paddle {
    margin:0 4%;
    width: 7.8rem; /* Fixed width to avoid crushing the paddle when downsizing the window */
    height:7.1rem;
    border-collapse:collapse;
    text-align:center;
    background-image:url("../img/copyrighted/tiles/desert/9.png");
    background-repeat:no-repeat;
    background-size:3em;
    background-position: center;
    background-position-y: 1.9em;
    font-weight:bold;
}
#movement_paddle tr {
    border:none;
}
#movement_paddle td {
    padding:0;
    text-align:center;
    /* Assure un écartement symétrique des flèches */
    width:2em;
    height:2.4em;
    box-sizing:border-box;
}
#movement_paddle button {
    min-width:0;
    padding:0;
    font-size:1.8em;
    color:darkred;
    background:none;
    border:none;
}
#movement_paddle button:hover {
    color:red;
    cursor:pointer;
}
/* L'hexagone central entre les flèches */
#movement_paddle #central {
    position:relative;
    top:-0.2em;
    cursor:pointer;
    line-height:1.4em;
}
#movement_paddle .me {
    position:absolute;
    top:-1.2em; /* TODO: fix those artificial alignments */
    left:33%;
    height:2.6em;
}
/* Shows the distance to the city */
#block_distance {
    display:flex;
    align-items:center;
    justify-content:center;
    height:42px; /* Stabilize the block height when the city image is resized */
    width:10em;
    margin-bottom:0.5em;
    background:#d3d3d3;
    text-align:center;
    font-weight:normal;
}
#block_distance .city_image {
    /* Keep the city image vertically centered when resized */
    display:flex;
    align-items:center;
    justify-content:center;
}
#block_distance .distance {
    /* Stabilize the position of the number of kilometers when it is on 1 or 2 digits */
    display:inline-block;
    width:1em;
    text-align:right;
}

#block_landtype {
    display:flex;
    align-items:center;
    justify-content:center;
    height:42px;
    margin-bottom:0.7em;
    background:lightgrey;
    cursor:help;
}

/* Message under the movement paddle */
#message_move {
    min-height:2rem;
    margin-bottom:1rem;
    text-align:center;
}

#movement_ap {
    margin-left:auto;
    width:11.5rem;
    height:9rem;
    text-align:right;
}

/*
 * The cards under the movement paddle, indicating the main actions
 * (to explore a building, to dig the zone...)
 */
#block_move .card {
    display:flex;
    align-items:center;
    justify-content: space-between;
    height:4rem;
    padding:0.5em 1em 0.2em 1em;
    border:1px solid green;
    border-radius:0.3em;
    color:inherit; /* Keeps the text in bleck when the card is a <a> tag */
    box-shadow:6px 6px 6px black;
}
#block_move #card_building {
    height:8em;
}
#block_move #card_building .building_name {
    font-weight:bold;
}
#block_move #card_building .redbutton {
    width:auto;
}
#block_move #card_ap_cost .actionspoints_decrease {
    font-size:1.1em;
    padding:0.2em 0.2em 0.2em 0.5em;
    background:#bf360c;
    color:white;
    font-weight:bold;
    border-radius:0.2em;
}

/* 
 * Actions in the desert (move, dig...)
 */
#actions_panel {
    display:none;
    position:sticky;
    /*right:0.5rem; /* Avoids shifting the buttons to the left when the scrollbar appears */
    bottom:0;
    height:50%;
    width:100%;
    max-width: 51.25rem;
    text-align:center;
    font-size:0.9em;
    background:#fbeee6;
    border-radius:0.6em;
    border:1px solid #34495e;
}
/* The big round action buttons with icon */
#round_actions {
    position:relative;
    top:-1.8em;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    white-space:nowrap;
    z-index:21;
}
.round_action_block {
    position:relative;
    display:inline-block;
    margin:0 0.08rem;
    background:#34495e;
    border-top:1px solid white;
    border-radius:0.2rem;
}
.round_action {
    position:relative;
    height:3.3rem;
    width: 3.3rem;
     /* Bigger margin at the right and bottom to compensate for the feeling 
        of asymetry caused by the shadow */
    margin:0.3rem 0.5rem 0.8rem 0.4rem;
    padding:0;
    font-size:1.7em;
    background:#c0392b;
    border:3px outset #f5b7b1;    
    border-radius:3em;
    box-shadow:5px 5px 5px black;
    z-index:1;
}
.round_action:focus {
    outline:none; /* Chrome adds an ugly outline when button is clicked */
}
.round_action:hover, .active .round_action {
    position:relative;
    left:2px;
    top: 1px;
    box-shadow:2px 2px 4px black;
}
.round_action.inactive {
    background:grey;
    border-color:grey;
    opacity:0.7;
}
.active .round_action, .active .round_action:hover {
    background:#d6eaf8;
    border:3px inset white; /*#808b96*/
    box-shadow:1px 1px 2px white;
    opacity:1;
}
#round_actions label {
    display:block;
    padding:0.1em 0;
    background:grey;
    font-size:0.9em;
    color:white;
}
#round_actions .active label {
    background:#283747;
    border-top:1px solid lightgrey;
}
#round_actions .dot_number {
    position:absolute;
    right:0;
    bottom:1.4em;
    min-width:1.2rem; /* Not simply "width" to avoid overflow with 3-digits numbers */
    height:   1.2rem;
    padding:0.1em;
    font-size:0.9em;
    border-radius:1rem;
    background:#fae5d3;
    color:black;
}
#round_actions .alert_icon {
    position:absolute;
    top:-0.2rem;
    right:-0.15rem;
    background:none;
    font-size:1.3em;
    text-shadow:0px 0px 5px black;
    opacity:0.1; /* To play the animation in the right way */
    animation: alert_blinker 1.5s linear infinite;
    animation-direction: alternate;
    z-index:10;
}
/* The maskable frames which contain the actions buttons */
#actions {
    height:100%;
    width:21.7rem;
    margin:auto;
}
#actions fieldset {
    display:none;
    position:relative;
    top:-6rem; /* Make the block start at the top of the parent block */
    height:100%;
    margin:0;
    padding-top:5.5rem; /* Let space for the action buttons, which are over the block */
    padding-bottom:2rem;
    text-align:left;
    border:1px solid #34495e;
    border-top:none;
    background:#fbeee6;
    z-index:20;
    animation: switchAction 0.3s;
    overflow:auto;
}
@keyframes switchAction {
    from { opacity: 0; }
    to   { opacity: 1; }
}
legend {
    margin:auto;
    padding:0.05em 0.4em 0.1em 0.4em;
    font-weight:bold;
    font-variant:small-caps;
    border-radius:0.3rem;
    background:#34495e;
    color:white;
}
#actions hr {
    margin:2em 0;
}
/* The form to change the ground type (lava...) */
#landform button {
    background:none;
    border:none;
    cursor:pointer;
}
#landform button :hover {
    background: #e9e9ed;
    outline:1px solid grey;
    border-radius:0.4em;
}
#landform button img {
    padding:0.1em 0.2em;
}

#block_zombies {
    text-align:center;
}
#block_zombies #action_zombies {
    display:none;
    text-align:center;
}
#block_zombies .nbr_zombies {
    font-size:1.3em;
    color:red;
}
#block_zombies .zombies_visual {
    width:50%;
    margin:0.2em auto 0.5em auto;
    padding:0.3em 0 0.4em 0;
}
#block_zombies .zombie {
    margin:0 0.05em;
    font-size:1.4em;
    text-shadow:2px 2px 2px red;
    border-radius:1em;
    cursor:default;
}
.zombie::selection {
    background:none;
}

#controlCountdown {
    font-size:1.9em
}

#block_citizens ol {
    padding-left:0.9em;
}

/* The player's bag */
#items_bag .form_pickup {
    display:none; /* Hide the "pick up" button if item already in bag */
}
#items_ground .form_drop {
    display:none; /* Hide the "drop" button if item already on the ground */
}

/* Listes d'objets */
.items_list {
    display:flex;
    gap:0.4em;
    margin-left:1.5rem;
    flex-wrap:wrap;
    margin-top:0.2rem;
    padding-left:0;
    list-style-type:none;
}
.items_list img {
    text-align:center; /* Useful to center the alternative textual icon (emoji...) */
}
.city_block .items_list {
    margin:0;
}

/*
 * Item (icon + tooltip)
 */
.item_label { /* Global container (icon + tooltip) */
    position:relative;
    display:flex;
    justify-content: flex-start; /* The tooltip must start at the left of the icon (not centered)*/
    align-items: center;
    height:3em;
    width:3em;
    background:lightgrey;
    border-radius:0.2em;
}
.item_label>var { /* The clickable icon of the item */
    display:flex;
    margin:auto;
    font-style:normal;
    cursor:pointer;
}
.item_label var::selection {
    background:none;
}
.item_label img {
    height:32px;
    width: 32px;
}
.item_label .dot_number {
    position:absolute;
    top:  -0.35rem;
    right:-0.35rem;
    height:1rem;
    width: 1rem;
    font-size:0.7em;
    line-height:120%;
    font-weight:bold;
    text-align:center;
    background:#28b463;
    color:black;
    border-radius:0.1em;
}
.item_label.empty_slot {
    background-color:#fafafa;
}
/* The tooltip for the item */
.item_label .details {
    display:none;
    position:absolute;
    top:3em;
    width:14em;
    padding:0.2em 0.2em 0.7em 0.5em;
    text-align:left;
    background:lightgrey;
    border:1px solid grey;
    border-radius:0.3em;
    box-shadow:5px 5px 10px black;
    z-index:2;
}
.item_label .details var { /* The icon & name inside the item's tooltip */
    display:flex;
    margin:0.3em auto auto auto;
    font-size:1.2em;
    font-weight:bold;
    font-style:normal;
}
.item_label .details hr {
    margin:0.3em 0 !important;
    padding:0;
}
.item_label .details .drop_button {
    height:1.8em;
}
.item_label .details .descr_ambiance {
    font-size:0.75em;
    margin:1.2em 0 0.5em 0;
    font-style:italic;
}
.item_label .details .descr_purpose {
    font-size:0.85em;
}
.item_label .details .close {
    position:absolute;
    right:0.2em;
    top:0.2em;
    cursor:pointer;
}

/*
 * Bloc "Utiliser un objet de mon sac"
 */
#actions_bag {
    margin-top:0.5em;
    padding:0.2em 0.5em;
    text-align:left;
    background:lightsteelblue;
    border-radius:0.5em;
    border:1px solid grey;
    box-shadow:5px 5px 10px black;
}
#actions_bag ul {
    margin:0.2em 0;
    list-style-type:none;
}

/*
 * Buttons
 * > .redbutton is for the main actions (to use an item...)
 * > .bluebutton is for the secondary buttons (giving a tip...)
 */
input[type="submit"] {
    cursor:pointer;
}
.redbutton,
.bluebutton {
    display:flex;
    align-items:center;
    justify-content:center;
    height:2.3em;
    width:98%;
    min-width:11em;
    margin:0.15em 0;
    border:1px solid lightgrey;
    border-radius:0.3em;
    box-shadow:3px 3px 5px black;
    background:darkred;
    color:white;
    /*font-variant:small-caps;*/
    cursor:pointer;
}
.redbutton:hover {
    border:none;
    background:#CC0000;
    color:white;
}
.redbutton.inactive,
.bluebutton.inactive{
    background:grey;
    text-decoration:line-through;
}
.redbutton .dot_number,
.bluebutton .dot_number {
    position:absolute;
    top:-1em;
    right:-0.5em;
    height:1.5em;
    width: 1.5em;
    background:green;
    border-radius:2em;
}
.redbutton .material-icons,
.bluebutton .material-icons {
    /* Fix for Materialize.css (icon not vertically aligned) */
    height:auto;
}
.bluebutton {
    background:#34495e;
}
.bluebutton:hover {
    background:#546E7A;
    color:white;
}

/* Bouton de dépôt d'objet avec un aspect moderne et non le défaut HTML en relief */
.drop_button {
    background:lightsteelblue;
    border:none;
    vertical-align:middle;
    height:1.3em;
    width: 1.3em;
    line-height:1em;
    padding:0;
    border-radius:30%;
    font-size:1.1em;
    cursor:pointer;
}
.drop_button:hover {
    background:darkred;
    color:white;
}

.formredbutton input {
    padding:0.4em 0.6em;
    background:#8b0000;
    color:white;
    border-radius:2em;
}

/* To display the form buttons (<input>) as simple links (<a>) */
.formlink {
    display:inline;
}
.formlink input {
    min-width:0;
    text-align:left;
    background:none;
    border:none;
    box-shadow:none;
    padding:0;    
    font-size:0.95em;
    font-family:sans-serif;
    font-variant:normal;
    font-weight:bold;
    color:darkred;
}
.formlink input:hover {
    color:red;
    background:none;
    border:none;
}


/*
 * Bloc rouge indiquant que le joueur est bloqué par les zombies
 */
#alert_control, #alert_tired {
    display:none;
}
.block_alert {
    border:2px outset black;
    text-align:center;
    background:#a93226;
    font-size: 1.2em;
    border-radius:0.3em;
    animation: fadein 2.8s;
    box-shadow:0px 2px 15px black;
}
.cover_paddle { /* Covers the movement paddle */
    position:absolute;
    top:5rem;
    margin-right:0.5rem;
    z-index:1;
}
.block_alert .title {
    padding:0.3em 0;
    background:#940a0a;
    color:white;
    font-size:1.1em;
    font-weight:bold;
}
.block_alert .text {
    padding:0.8em 0.5em;
    font-size:0.9em;
    color:#fbeee6;
    max-height:9.5rem; /* Must not cover the contextual actions (enter in city...) */
    /*overflow:auto;*/
}
.block_alert .nbr_zombies {
    font-size:1.3em;
}
.block_alert a {
    font-size:0.8em;
    color:orange;
}
#alert_escape {
    position:static;
}

@keyframes fadein {
    0%   { opacity: 0;   }
    100% { opacity: 1;   }
}

/* Affiche l'état "blessé" sous les flèches de déplacement */
#alert_wounded {
    display:block;
    margin:auto;
    margin-top:0.1rem;
    padding:0 0 0.3rem 0.2rem;
    background:#6c3483;
    text-align:left;
    color:white;
    box-shadow:3px 3px 4px black;
}
#alert_wounded .alert_sign {
    font-size:1.1em;
    opacity:0.1; /* To play the animation in the right way */
    animation: alert_blinker 1.5s linear infinite;
    animation-direction: alternate;
}
#alert_wounded .link {
    font-size:0.8em;
    color:orange;
}

/*
 * Chips (label) for the user name (avatar + pseudo on a colored background)
 */
.userListItem {
    display:flex;
    margin-bottom:0.3em;
}
.userLabel {
    display:flex;
    align-items:center;
    height:3em;
    width: 10em;
    margin-right:0.4em;
    padding-right:0.8em;
    border:1px solid green;
    border-radius:2em 0.6em 0.6em 2em;
    background:green;
    color:white;
}
.userLabel .avatar {
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
    font-size:2em; /* Useful when the default avatar is an emoji (e.g. silhouette) */
    margin-right:0.2em;
    border-radius:2em;
    background:lightgreen;
}

/* Toasts */
.toast {
    width:15em;
    box-shadow:6px 6px 6px black;
    margin-left:0.5em;
    padding:0.8em;
}

/* Tutorial ("feature discovery" by Materialize.css) */
.tap-target-wave::before, .tap-target-wave::after {
    /* Ensures that the white day clock won't be invisible on the default white backgound */
    background:#f8bbd0;
}

/* Message d'erreur, ex : "Vous n'avez plus assez de PA"
   Important : utiliser les alias retournés par les API 
   (info, warning, critical) */
.critical {
    background: red;
    border-radius: 3px;
    color: white;
    display: block;
    padding: 6px 12px;
}
.warning {
    background: #7d3c98 ;
    color:white;
}
.info {
    background:green;
    color:white;
}

/* Discreet text to say that the zone has no zombies or no citizens, etc */
.greytext {
    text-align:center;
    font-style:italic;
    color:grey;
}

/* Buttons to center the map on a given zone */
a.localize {
    position:relative;
    top:0.4em;
    margin-left: 0.2em;
    color:darkred;
/*    padding:0em 0.2em 0.1em 0.1em;
    border:1px solid #784212;
    border-radius:0.3em;
    */
    
}
a.localize .material-icons {
    font-size:1.5em;
}

/*
 * Page to edit the configuration of the game (list of items...))
 */
#editConfig {
    margin:auto;
}
#editConfig h2 {
    text-align:center;
}
#editConfig fieldset {
    max-width:30em;
    margin:2em auto;
    padding:1em;
}

#editConfig table {
    margin:auto;
    border-collapse:collapse;
}
#editConfig table td {
    border:1px solid grey;
    padding:0.5em;
}


/* Effet de clignotement */
@keyframes alert_blinker {
    50% {
        opacity: 1;
    }
}
