/*
 * CSS de la carte
 */
#map {
    margin:0 0.2em 0 0;
    width:100%;
    height:100vh; /* Ensures that the map will always reach the floating bar at the bottom */
    min-height:25em; /* Let enough height for the "connection" block when not logged in */
    overflow-x:hidden;
    overflow-y:hidden; /*scroll;*/
    font-size:1.05em;
    border-radius:0.5em;
    background:repeating-linear-gradient(0.38turn, black, black 2px, #17202a 2px, #17202a 4px);
    box-shadow: 5px 5px 10px black;
    /* Pour que la largeur de la ville en surimpression soit calculée 
       par rapport celle la carte et pas à celle de la page */
    position:relative;
}
#map ::selection {
    background:none;
}

#map_viewport {
    margin-top:6.5em;
}
map_body_wrapper {
    height:50vh; /* Allows to scroll vertically with ScrollBooster */
}

/*
 * Zooming on the map
 */
#map_body {
    position:relative;
    /* Avoids hiding zones under the borders when the map is unzoomed
       (due to the artificial horizontal shifting of the rows) */
    padding:2em;
}
#map_body.zoomedIn {
    transition: all .3s ease;
    /* Forces the zoom to start from the corner of the map. The default behavior
       (zoom on the center) would place the top and left parts out of the scrollbars. */
    transform-origin: top left;
}


/* 
 * Buttons to change the map view (zoom, center on me, stalleite view...)
 */
#map_navigation {
    position:absolute;
    top:  8rem;
    right:0.2em;
}
#map_navigation button,
#resizeMap button {
    display:flex;
    justify-content: center;
    align-items: center;
    height:3rem;
    width: 3rem;
    margin:0.9rem 0.5rem 0 0;
    font-size:3em;
    border:none;
    border-radius:0.2em;
    background:lightgrey;
    opacity:0.8;
    box-shadow: 12px 12px 12px black;
}
#map_navigation button {
    margin-top:0.7rem;
}
/* Buttons for zooming on the map */
#zoom_form {
    display:flex;
    flex-direction: column;
    align-items:center;
    width:3rem;
    margin-bottom:0.25rem;
    background:lightgrey;
    opacity:0.8;
    box-shadow: 12px 12px 12px black;
    border-radius:0.5em;
}
#zoom_form button {
    height:0.8em;
    margin:0;
    background:none;
    box-shadow:none;
    border-radius:0;
}
#zoom_form .range-field {
    transform:rotate(-90deg);
    margin-top:1.5rem;
    margin-bottom:2rem;
}
#zoom_form #zoom_range {
    color:black;
    width:4.6em;
}
#zoom_form hr {
    margin:0;
    width:85%;
    height:2px;
    cursor:row-resize;
}

/* Specific sub-menu to select the desired satellite view */
#map_navigation #mapRadarMenu {
    margin:0.5em 0;
    padding:0;
    font-size:0.9em;
    background:#34495e;
    color:white;
    border:1px solid lightgrey;
    border-radius:0.2em;
    list-style-type:none;
    box-shadow: 12px 12px 12px black;
}
#mapRadarMenu:before {
    content: "▲";
    color:#b3b6b7;
    position:absolute;
    right:1.2em;
    margin-top:-1.1em;
}
#mapRadarMenu li {
    padding:0.4em 0.5em;
    border-bottom:1px solid lightgrey;
    cursor:pointer;
}
#mapRadarMenu li:last-child {
    /* Avoids having a double border <li> + <ul> */
    border-bottom:none;
}
#mapRadarMenu li:hover {
    background:#5d6d7e;
}

/*
 * Switch between Large map mode / Action mode
 */
#resizeMap {
    position:absolute;
    top:  0;
    right:0;
}
#resizeMap button {
    background:darkred;
    outline:2px outset white;
}
#resizeMap i {
    font-size:0.9em;
    color:white;
}

/*
 * Status bar of the citizen
 */
#personal_block_wrapper {
    position:absolute;
    top:0;
    width:100%;
    margin-top:0.5em;
    display:flex;
    justify-content:center;
    background: rgba(0,0,0,0.3);
    height:3.6em;
}
#personal_block {
    position:relative;
    margin:0.1em;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:2.35em;
    background:#fbeee6;
    border-radius:5em;
}
/*#personal_block legend {
    width:100%;
    padding:0;
    text-align:center;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    font-weight:normal;
    font-variant:normal;
}*/
#personal_block .block_icon {
    position:relative;
    height:3.1em; /* Equal to the round action buttons (move, dig...) */
    width: 3.1em;
    text-align:center;
    background:#fbeee6;
    border:4px outset #34495e;
    border-radius:50%;
    box-shadow:0 8px 12px black;
    outline:2px outset #fbeee6;
    cursor:pointer;
}
#statusbar.inactive,
#bagbar.inactive,
#apbar.inactive {
    opacity:0.3;
}
#statusbar .icon,
#bagbar .icon {
    margin-top:-0.15em;
    font-size:1.4em;
}
#personal_block .block_icon .name {
    position:absolute;
    bottom:0;
    width:100%;
    line-height:120%;
    font-size:0.9em;
    text-align:center;
    background:#34495e;
    color:white;
    border-radius:0 0 40em 40em;
}
#personal_block .items_list {
    position:absolute;
    left:0;
    min-height:2.7em;
    width:100%;
    margin:0.2em 0;
    padding:0.5em;
    display:flex;
    flex-wrap: wrap;
    background:#fbeee6;
    border:2px outset #34495e;
    outline:1px outset white;
    border-radius:0.3em;
    box-shadow: 12px 12px 12px black;
    z-index:2;
}
#statusbar .item_label,
#bagbar .item_label {
    height:2em;
    width: 2em;
    font-size:1.2em;
}
#bagbar .item_label img {
    height:26px;
    width: 26px;
}
/* Button to view the hidden items of the bag */
/*
#bagbar .show_more {
    position:absolute;
    top:0;
    right:-0.8em;
    height:2.7em;
    width:1.6em;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:sans-serif;
    background:darkred;
    color:white;
    border:1px solid lightgrey;
    border-radius:0 0.3em 0.3em 0;
}
*/
#bagbar .show_more .material-icons {
    font-size:1.8em;
}
#bagbar .details {
    top:1.95rem;
    font-size:0.70em;
    line-height:150%;
    width:13rem;
}
#bagbar .item_label .details img {
    height:32px;
    width: 32px;
}
#bagbar .descr_purpose {
    font-size:1em;
    line-height:130%;
}
#statusbar .item_label img {
    height:90%;
    width:100%;
    outline:3px solid red;
    border-radius:0.2em;
}
#apbar .actionpoints {
    position:relative;
    height: 4.2rem;
    width:  4.2rem;
    font-size:1.9em;
    display:flex;
    justify-content:center;
    align-items:center;
    color:whitesmoke;
    border: 4px outset orange;
    border-radius: 50%;
    outline:2px outset #fbeee6;
    background: radial-gradient(circle at 50% 5%,
                                rgba(255, 255, 255, 1),
                                darkred,
                                rgba(0, 0, 50, 1));
    z-index: 1;
}
#apbar .actionpoints .dot_number {
    position: absolute;
    top:   -0.4rem;
    right: -1.2rem;
    height: 2rem;
    width:  2rem;
    font-size: 0.55em;
    text-align:center;
    background: darkred;
    border: 3px outset orange;
    border-radius: 50%;
    color:white;
}

#map .row {
    white-space:nowrap;
    /* On remonter l'hexagone pour l'emboîter dans la ligne du dessus.
       Mieux qu'une position relative "top:-1em", qui créerait un gros blanc 
       sous la carte. */
    margin:-25px;
}
#map_body .row:nth-child(odd) {
    /* Shift 1 line of 2 to fit the hexagons staggered */
    padding-left:20px;
}

.hexagon {
    
    /* Pour le débogage : décommenter cette ligne pour afficher le conteneur*/
    /*border:1px solid red;*/
    
    background-repeat:no-repeat;
    background-size:100%;
    text-align:center;
    cursor:default;
    display:inline-block;
    /* La largeur détermine la taille de l'hexagone */
    width:        41px; /*2.4em;*/
    /* Let enough height to allow elevating (city zone) or lowering (water, lava)
       the zone without cutting the top or low tip of the hexagon */
    height:       60px;
    /* Assure que le conteneur intérieur ne déborde pas en bas
    (tracer une bordure sur square_container) )*/
    line-height:2.55em;
    /* Evite que les éventuelles marges intérieures agrandissent le conteneur */
    box-sizing: border-box;
    /* Makes sure that the opacity on a tile can't place it above the tiles around */
    position: relative;
}
.square_container {
    
    /* Pour le débogage : décommenter cette ligne pour afficher le conteneur*/
    /* border:1px solid red; */
    
    /* La largeur doit inscrire la bordure de .square_container 
    pile dans celle de .hexagon */
    width:  2.5rem;
    /* The top and bottom lines of the square must touch the top and bottom tips 
      of the hexagon */
    height: 3rem;
    /* Evite que les éventuelles marges intérieures agrandissent le conteneur */
    box-sizing: border-box;
    /* Centre le conteneur horizontalement */
    margin:auto;
    /* Hack CSS pour centrer le conteneur verticalement */
    position: relative;
    top: 40%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    /* Centrage des éléments à l'intérieur de la case */
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    /* Recentre verticalement le texte à l'intérieur du conteneur.
    Calibrage: le fond coloré sous le texte doit toucher la bordure du bas du conteneur. */
    line-height:2.2em;
    /* Makes sure that the frames around the buildings can't be hidden by the tiles */
    z-index:1;
}

.square_container .zombies_amount,
.square_container .items_amount {
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight:bold;
    height:100%;
    width:100%;
    clip-path: polygon( /* Give the background an hexagonal shape */
                    50% 0%, 
                    100% 25%, 
                    100% 75%, 
                    50% 100%, 
                    0% 75%, 
                    0% 25%
                    );
}

/* Surelevate the zones with cities or buildings */
#map .elevate {
    position:relative;
    top:-0.3rem;
}

#map .zone_name {
    position:absolute;
    opacity:0.8;
    line-height:1em;
    padding:0.4em;
    background:#34495e;
    color:white;
    border-radius:0.3em;
    box-shadow:6px 6px 6px black;
}
#map .city_name {
    position:absolute;
    top:-1.3em;
    padding:0.1em 0.3em;
    font-size:0.9em;
    background:darkred;
    color:white;
    line-height:1.1em;
    border:1px solid red;
    border-radius:0.3em;
    box-shadow:4px 4px 6px black;
    z-index: 1;
}
#map .city_img {
    display:block;
    position:absolute;
    bottom:12px;
    z-index: 1;
}

#map .nbr_defenses {
    /*display:none;*/
    position:absolute;
    top:-1.4em;
    line-height:1.5em;
    padding: 0.1em 0.35em 0 0.1em;
    font-size:0.8em;
    background:green; /*darkslateblue*/
    color:white;
    border: 1px solid white;
    border-radius:0.4em;
    box-shadow: 4px 4px 6px black;
    z-index:1;
}
/* Button marking a building not visited today */
#map .nbr_defenses.diggable {
    position:absolute;
    top:-0.1rem;
    left:1.6rem;
    height:0;
    width: 0;
    padding:0.8em;
    font-size:0.7em;
    font-weight: bold;
    display:flex;
    justify-content:center;
    align-items:center;
    background:darkred;
    z-index:2;
}
#map .nbr_defenses.safe {
    top:  1.69em;
    right:-0.3em;
    height:18px;
    width: 18px;
    padding:0;
    display: inline-flex;
    justify-content: center;
    align-items:center;
    font-size:1em;
    background:none;
    border:2px solid dimgrey;
    border-radius:0.2em;
    box-shadow:none;
    z-index:2;
}
.cityframe {
    position:absolute;
    bottom:0.1rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    z-index:2;
}
.cityframe .frame {
    height:2.7rem;
    width: 2.7rem;
    outline:1px solid dimgrey;
    border-radius:50%;
    box-shadow: 2px 2px 12px black;
    background: radial-gradient(circle at 5% 5%,
                        rgba(255, 255, 255, 0.8),
                        rgba(0, 0, 0, 0) 50%
                        );
}
.cityframe.active .frame {
    height:3em;
    border:4px outset white;
    outline:2px outset white;
    border-radius: 0.2em;
}

.cityframe.resources .frame,
.cityframe.resources .label {
    border-color:cornflowerblue;
}
.cityframe.boosts .frame,
.cityframe.boosts .label {
    border-color:darkorange;
}
.cityframe.defenses .frame,
.cityframe.defenses .label {
    border-color:green;
}
.cityframe.transportations .frame,
.cityframe.transportations .label {
    border-color:black;
}
.cityframe.technical .frame,
.cityframe.technical .label {
    border-color:purple;
}
.cityframe.undiscovered .frame,
.cityframe.undiscovered .label {
    border-color:grey;
}
.cityframe.zombie_core .label {
    width:90%;
    background:red;
    border:none;
    color:black;
}
.cityframe.nolabel .label {
    display:none;
}
.cityframe .label {
    position: absolute;
    bottom:1px;
    right:1px;
    padding:2px 0;
    line-height:1em;
    font-size:0.8em;
    font-weight: bold;
    text-align:center;
    background:white;
    border:1px solid black;
    border-radius:0.2em 0 0.2em 0;
    color:midnightblue;
}
.cityframe.active.explored .frame {
    outline-width:1px;
}
.cityframe .dot_notif {
    display:none;
}
.cityframe.active .dot_notif {
    display:flex;
}
.cityframe.explored .dot_notif {
    display:none;
}

.cityframe.zombie_core.active .frame {
    border-color:red;
    outline:2px solid darkred;
}
.cityframe.active.gold {
    outline:2px solid darkgreen;
    border-radius:0.2em;
}
.cityframe.active.gold .frame {
    border:4px solid #F4D03F;
}
.cityframe.gold .label {
    width:90%;
    display:block;
    background-color:#F4D03F;
    border:none;
    font-weight:bold;
}

/*
 * An <svg> area covers the map to allow drawing on it (lines between zones...)
 */
#mapSvg {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    opacity:0.8;
    /* Ensure the lines are not masked by the tiles, but without blocking the mouse events */
    z-index:1;
    pointer-events:none;
}
#mapSvg line {
    stroke:white;
    stroke-width:4px;
    /*stroke-linecap:round;*/
}
#mapSvg .animated-line {
    stroke-width:2px;
    stroke-dasharray: 5,5;
    animation: dash-animation 1s linear infinite;
}
@keyframes dash-animation {
    to {
        stroke-dashoffset: 20;
    }
}

#mapSvg .defenses.animated-line {
    stroke:green;
}
#mapSvg .zombie_core {
    stroke-width:10px;
}
#mapSvg .zombie_core.animated-line {
    stroke:red;
    stroke-width:8px;
}
#mapSvg .transportations.animated-line {
    stroke:black;
}

/*
 * Tiles
 */
/*.ground_stone, .ground_circus {
    background-image:url("../img/copyrighted/tiles/desert/1.png");
}*/
.ground_default {
    /* If the cell exists in the database but has no specific ground set */
    background-image:url("../img/copyrighted/tiles/desert/9.png");
}
.ground_grass {
    background-image:url("../img/copyrighted/tiles/greenjungle/3.png");
}
.ground_greenwoods {
    background-image:url("../img/copyrighted/tiles/greenjungle/4.png");
}
.ground_bigpeeble {
    background-image:url("../img/copyrighted/tiles/desert/1.png");
}
.ground_peeble {
    background-image:url("../img/copyrighted/tiles/desert/2.png");
}
.ground_desertpound {
    background-image:url("../img/copyrighted/tiles/desert/4.png");
}
.ground_drywoods {
    background-image:url("../img/copyrighted/tiles/desert/5.png");
}
.ground_desertmountains {
    background-image:url("../img/copyrighted/tiles/desert/8.png");
}
.ground_sand {
    background-image:url("../img/copyrighted/tiles/desert/9.png");
}
.ground_lava {
    background-image:url("../img/copyrighted/tiles/volcanic/7.png");
    background-position-y: 0.25em;
}
.ground_water {
    background-image:url("../img/copyrighted/tiles/greenjungle/6.png");
    background-position-y: 0.25em;
}

.ground_zombies {
    background-image:url("../img/copyrighted/tiles/grey/5.png");
}

.ground_city {
    background-image:url("../img/copyrighted/tiles/greenjungle/3.png");
}


#map .icon_html { /* Makes the unicode icons bigger without shifting the map tiles */
    position:absolute;
    margin-bottom:0.2em;
    z-index:1;
}
#map .zombies {
    position:absolute;
    margin-top: 0.5rem;
    font-weight:bold;
    color:darkred;
    opacity:0.7;
}
#map .zombies img {
    height: 30px;
}

/*
 * Bulles d'information sur la carte
 */
.bubble {
    display:none;
    position:absolute;
    bottom:3.2em;
    left:-7em;
    line-height:1em;
    width:17em;
    padding:0.3em;
    text-align:left;
    white-space: normal;
    /*hyphens: auto;*/
    background:darkred;
    color:white;
    border:1px solid red;
    border-radius:0.4em;
    font-family:Calibri;
    font-size:0.8em;    
    box-shadow: 12px 12px 12px black;
    z-index:3;
}
.triangle_down {
    width:0;
    height:0;
    border-left: 0.6em solid transparent;
    border-right:0.6em solid transparent;
    border-top:  1em solid red;
    position:absolute;
    left:7.8em;
    bottom:-1em;
    z-index:2;
}
.bubble .coords {
    text-align:right;
}
.bubble .roleplay {
    margin-top:0.3rem;
    padding:0.3em 0.2em;
    font-size:1.1em;
    line-height:110%;
    background:#c40007;
    border-radius:0.2em;
}
.bubble h5 {
    font-size:1.2em;
    margin:0;
}
.bubble hr {
    color:white;
    margin:0.2em 0;
}

/* Symbole indiquant la présence d'objets sur la case */
.items {
    position:absolute;
    font-size:80%;
}
/* Symbole d'un citoyen sur la carte hexagonale */
.map_citizen {
    position:absolute;
    top:0.85em;
    height:50%;
    display:flex;
    justify-content:center;
    width: 130%;
    border-radius:50%;
    background:lightsteelblue;
    z-index:1;
}
#map .map_citizen .nbr_defenses { /* Pseudo of the player on the map */
    width:6em;
    margin-top:-3em;
    background:lightgreen;
    color:revert;
    overflow:hidden;
}
#me {  
    background:lightgreen;
    z-index:3;
    cursor:pointer;
}
#me.alert {
    width:150%;
    background:darkred;
    z-index:-1; /* Put the player behind the zombies */
}
#me.alert .nbr_defenses {
    background:darkred;
    color:yellowgreen;
    border: 1px solid red;
}
@keyframes citizen_blinker {
    50% {
        opacity: 0.5;
    }
    80% {
        border-color:lightgreen;
    }
}
@keyframes citizen_blinker_alert {
    50% {
        opacity: 0.5;
    }
    80% {
        border-color:red;
    }
}
.map_citizen img {
    position:relative;
    top:-2em;
    height:48px;
}
#explosionMe {
    position:absolute;
    top:-2em;
    z-index:10;
}
/* Ligne de zombies (zombies de l'attaque') */
.hurd {
    display:block;
    position:absolute;
    margin-top:-1em;
    z-index:1;
}
.hurd .icon {
    position:absolute;
    margin-left:0.35em;
    font-size:1.5em;
    z-index:2;
}
.hurd .triangle {
    position:relative;
    top:2.4em;
    /* Crée un triangle en CSS */
    width:0;
    height:0;
    border-left: 1.25em solid transparent;
    border-right:1.25em solid transparent;
    border-top:2em solid red;
}

.halo {
    position:absolute;
    top:0.7em;
    border: 5px solid green;
    border-radius: 50%;
    height:65%;
    width: 155%;
    animation: citizen_blinker 1s linear infinite;
}
.halo.alert {
    border-width:0.8em;
    width:180%;
    animation-name: citizen_blinker_alert;
    z-index:-2; /* Put the halo behind the zombies */
}
.halo.inactive {
    opacity:0.8;
    border-color:darkgrey;
    animation:none;
}

#map .city img {
    height:24px;
    width: 24px;
}

/* Puce de localisation sur la carte */
.location {
    height:2em;
    position:absolute;
    margin-left:-1em;
    margin-top:-2.5em;
    pointer-events:none;
    z-index:1;
}

/* Legend for the view of the map (zombies...) */
.map_legend {
    position:sticky;
    bottom:0.5rem;
    width:16em;
    margin-left:0.5em;
    font-size:0.9em;
    border:2px solid grey;
    border-radius:0.5em;
    background:white;
    opacity:0.9;
}
.map_legend ul {
    margin:0;
}
.map_legend li {
    display:flex;
    align-items:center;
}
.map_legend li span {
    display:inline-block;
    height:1.2em; /* Superior to the width because an hexagon is not a square */
    width: 1em;
    margin-right:0.4em;
    clip-path: polygon( /* Give the background an hexagonal shape */
                50% 0%, 
                100% 25%, 
                100% 75%, 
                50% 100%, 
                0% 75%, 
                0% 25%
                );
}
.map_legend hr {
    margin-top:0.7em;
    border:none;
    border-top: 1px solid grey;
}

#map_legend_cityframes {
    width:15em;
}
#map_legend_cityframes li {
    padding-bottom:0.2em;
}
#map_legend_cityframes li span {
    height:auto;
    width:auto;
    border:3px solid white;
    border-radius:0.3em;
    clip-path:none;
}

/*
 * Action view (zoom on the player)
 */
.hexagon .overlay {
    position:absolute;
}
#map_body::after {
    content:'';
    position:absolute;
    box-shadow:0 0 0 9999px rgba(0, 0, 0, 0.3);
}
.hexagon .overlay::before {
    content:'';
    position:absolute;
    width: 130px;
    height:130px;
    border-radius: 50%;
    /* Draws the enlighted circle */
    box-shadow:0 0 0 9999px rgba(0, 0, 0, 0.6);
    /* Adds a smooth transition between the light and the shadow*/
    background: radial-gradient(rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 80%);
    transform:translate(-50%, -50%);
}

#map .overlay {
    display:none;
}
#map.action_view #me {
    transform:scale(0.5);
    top:1.3rem;
}
#map.action_view .overlay {
    display:block;
}
#map.action_view .halo {
    transform:scale(0.5);
    top:1.1rem;
}

#map.action_view .diggable,
#map.action_view .safe {
    transform:scale(0.7);
}
