/*
 * Styles relative to the expeditions drawn on the map
 */

/*
 * Display the panel for handling the expeditions
 */
#paths_panel {
    position:absolute;
    top:0;
    height:100%;
    margin-top:1px;
    padding:0 0.3em 0 0.2em;
    background:#fbeee6;
    border-right:2px outset white;
}
#paths_panel .close {
    position: absolute;
    top:   0;
    right: -2.6rem;
    height:     3rem;
    width:      2.6rem;
    background:darkred;
    color:white;
    border:1px solid white;
    border-left:none;
    border-radius:0 0.3rem 0.3rem 0;
}
#paths_panel .close .material-icons {
    font-size: 2.5em;
    line-height:1.1em;
}
#paths_panel .card {
    width: 16em;
    padding-bottom:1em;
    border-bottom:1px solid grey;
}
#paths_panel h2 {
    margin:auto 0;
    padding:0.5em 0;
    font-size:1.1em;
    font-weight:bold;
    background:#4a235a /*#34495e*/;
    color:white;
    text-align:center;
    border-radius: 0.3em 0.3em 0 0;
    box-shadow: 0px 4px 6px black;
}
#paths_panel h2 .tag {
    position:absolute;
    right:0.2em;
    padding:0 0.2em;
    font-size:0.8em;
    font-style:normal;
    font-weight:normal;
    border-radius:0.3em;
    background:darkgrey;
    color:black;    
}
#paths_panel .card-content {
    padding:0.2em;
    font-size:0.9em;
}
#paths_panel .items_list {
    margin-left:0.4rem;
}
#paths_panel .item_label {
    height:2.3em;
    width: 2.3em;
}
#paths_panel .card-action {
    padding: 0.8em 0.2em 0.2em 0.2em;
}
/* Card for each member of the expedition*/
#paths_panel .card .card {
    width:99%;
    padding-top:0;
}
#paths_panel .card .card h2 {
    width:100%;
    margin-bottom: 0.5em;
    padding:0.3em;
    background:darkred;
    outline: 1px solid grey;
    text-align: left;
    box-shadow: none;
    cursor:pointer;
}
#paths_panel .card .card .avatar {
    display:inline-block;
    height:1.6rem;
    width:1.6rem;
    font-size:1.1em;
    background:white;
    border-radius:50%;
}

/*
 * Display the horizontal bar for the expeditions
 */
#paths_bar {
    position:absolute;
    top:0;
    width:100%;
    display:flex;
    gap:0.5em;
    padding:1px 5em 1px 1px;
    background:#4a235a;
    border-top: 1px solid grey;
    border-bottom:1px solid grey;
    max-width:100%;
    overflow:auto;
}
#paths_bar .paths {
    display:flex;
    gap:0.5em;
}
#paths_bar .path {
    position:relative;
    min-width:5em;
    background:white;
    text-align:center;
    border-radius:0.3em;
    opacity:0.7;
    cursor:pointer; /* The inactive expeditions are fully clickable to activate them */
}
#paths_bar .path.active {
    min-width:10em;
    width:10em;
    border:2px solid red;
    opacity:1;
    cursor:auto;
}
#paths_bar .path.active .body {
    display:flex;
    gap:0.2em;
    font-size: 1em;
}
#paths_bar h2 {
    margin:0;
    padding:0.4rem 0 0.4rem 0;
    font-size:1em;
    font-weight:bold;
    background:#4a235a;
    color:white;
    border:1px solid white;
    border-radius:0.2em 0.2em 0 0;
    cursor:pointer;
}
#paths_bar h2 a {
    position:absolute;
    right:2px;
    font-size:1.2em;
}
#paths_bar .path .body {
    padding:0.2em;
    font-size:0.9em;
}
#paths_bar button {
    background:darkred;
    color:white;
    border:none;
    border-radius:0.2em;
    /*box-shadow:2px 2px 4px black;*/
}

/*
 * Draw the stages of the paths on the map
 */
#map .path_stage {
    position:absolute;
    height:1.7em;
    width: 1.7em;
    line-height:180%;
    background:#4a235a;
    border:1px solid white;
    border-radius:50%;
    font-weight:bold;
    color:white;
    box-sizing:content-box;
    box-shadow: 3px 3px 4px black;
    /*z-index:4;*/
}