/*
 * Pop-up ouvrable et fermable sans javacript. Elle s'affiche lorsque
 * l'ancre dans l'url correspond à l'id HTML de la pop-up.
 * Code issu de https://codepen.io/imprakash/pen/GgNMXO
 * Pure css popup box - Auteur : Prakash 
 * Avec des modifications perso (délais, taille...)
 */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index:60;
}
.overlay:target, /* Display popup when the anchor is in the url */
.force_visibility /* Force the popup to display even without the anchor  */
{
    visibility: visible;
    opacity: 1;
}
.popup {
    min-height:4em;
    max-width: 30em;
    max-height:75%;
    overflow: auto;
    margin: 5% auto;
    padding: 1em 0.5em;
    background: #fff;
    border-radius: 8px;
    position: relative;
    transition: all 250ms ease-in-out;
}
.popup h2 {
    margin-top:0;
    text-align:center;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 2em;
}
.popup h3 {
    margin:0;
    padding:0.3em;
    text-align:center;
    background:lightgrey;
    font-weight:bold;
}
.popup hr {
    margin-top:1em;
    border:none;
    border-bottom:1px solid grey;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

.popup .main_image {
    display:block;
    float:left;
    margin-right:0.5em;
}

.popup ul {
    margin: 0;
    padding: 0;
    padding-left: 1em;
    list-style-type: none;
}
/* Description d'ambiance d'une bâtiment */
.popup .block_building {
    margin:0 0 2em 0;
    border:1px solid darkgrey;
    border-radius:0.5em;
}
.popup .block_building h2 {
    margin-top:0;
    margin-bottom:0.1em;
    padding-bottom:0.1em;
    border-radius:0.2em 0.2em 0 0;
    background:#34495e;
    color:white;
    box-shadow:4px 4px 8px black;
}
.popup .block_building .body {
    display:flex;padding:0.5em;
}
.popup .descr_ambiance {
    flex-grow:4;
    margin-left:1em;
    font-style:italic;
    color:dimgrey;
}

.popup .frame {
    margin-top:2em;
    border:1px solid darkgrey;
    border-radius:0.3em;
}
.popup .frame>p {
    margin-left:1em;
    margin-right:1em;
}
.popup p.help {
    margin:0.2em 0 0 0;
    padding:0.5em;
    font-size:0.95em;
    font-style:italic;
    background:antiquewhite;
    border-bottom:1px solid lightgrey;
}

.popup .block_explore {
    padding: 1em;
}
.popup .frame .explore_building button {
    width:50%;
    margin:auto;
}

.building_modules {
    margin-top:0.2em;
}
.building_modules tr {
    cursor:pointer;
}
.building_modules tr.selected td {
    border:1px solid black;
}
.building_modules .status {
    width:7em;
    text-align:center;
    background:forestgreen;
    color:white;
    border-radius:0.3em;
}
.building_modules .zombies {
    position:relative;
    padding:0.2em;
    border-left:none;
    border-right:none;
    text-align:center;
    font-weight:bold;
}
.building_modules .zombies .label {
    padding:0.2em 0.3em;
    border:2px solid red;
    border-radius:1em;
    color:red;
}
.popup .zombies:before {
    content:"";
    position:absolute;
    bottom:0.9em;
    display:block;
    width:28%;
    border-bottom:1px solid red;
}
.popup .zombies:after {
    content:"";
    position:absolute;
    bottom:0.9em;
    right:0.2em;
    display:block;
    width:28%;
    border-bottom:1px solid red;
}

.building_modules .active {
    background:#e8f5e9 ; /*green lighten-5 */
}

.building_modules .inactive .status_active {
    display:none;
}
.building_modules .active .status_inactive {
    display:none;
}
.building_modules .text {
    margin-left:1em;
}
.building_modules .text_outoforder {
    padding:0.3em 0.5em;
    border-radius:0.3em;
    border: 2px outset red;
}
.building_modules .active .text_outoforder {
    display:none;
}
.building_modules .inactive td {
    background:#ffebee;
}
.building_modules .inactive strong {
    color:grey;
}

/*
 * Texte présenté avec des icônes d'étapes (icônes reliées par une ligne verticale)
 */
.popup .stageblock {
    display:flex;
    margin-left:1em;
/*    border-left:3px solid lightgrey;*/
}
.popup .stageicon {
    height:1.4em;
    min-width:1.3em;
    padding:0.2em;
    padding-top:0;
    font-size:1em;
    text-align:center;
    background:white;
/*    border:2px solid lightgrey;*/
    border-radius:1em;
    z-index:20;
}
.popup .stagetext {
    padding:0.1em 0 1em 0.2em;
}
.popup .stagetext, .popup .stageicon {
    /*Force l'icône à se placer devant le trait vertical du bloc texte*/
    position:relative;
    left:-1em;
}
