/*
 * CSS dédiée aux styles communs au site du projet (invazion.nadazone.fr) et 
 * au jeu lui-même (invaziongame.nadazone.fr).
 * Ne pas y placer d'éléments spécifiques à l'un ou à l'autre.
 */

html, body {
    /* Indispensable pour que le fond du contenu de la page occupe au minimun 
       toute la hauteur de l'écran (v. plus bas) */
    height:100%;
    font-size:16px;
}
body {
    margin:auto;
    background:black;/* #2c3e50  Darker color here = darker transparent background */
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    /* Garantit que les width en % des enfants seront calculées par rapport à la largeur
       de la page (limitée) et non celle de la fenêtre du navigateur */
    position:relative;
}
footer {
    margin-top:4em;
    padding:1em 1em 3em 1em;
    border-top:1px solid lightgrey;
    text-align:center;
    font-size:0.9em;
    color:grey;
}


@media (min-width:52rem) { /* Same width as #page_container, to not load the background uselessly */
    /* CSS hack to allow opacity on the background image */
    #body_bg {
      position: relative;
      min-height:100%;
    }
    #body_bg::before {
        background-image: url("../img/copyrighted/cave.png");
        background-position: center;
        background-attachment: fixed;
        background-size:auto 100%; /* No empty space on big screens (24''))*/
        opacity: 0.8;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: "";
        z-index: -1;
    }
    /* End of the hack */
}

.sidenav .user {
    display:flex;
    align-items:center;
    color:white;
    line-height:1.5em;
    border-radius:0.3em;
}

nav::selection, nav ::selection {
    background:none;
}
#page_container {
    position:relative;
    margin:auto;
    max-width:52rem;
    background:#fafafa;
    border-left:3px ridge lightgrey;
    border-right:3px ridge black;
    /* Le fond du contenu de la page doit toujours remplir au minimum toute la hauteur de l'écran.
       Pour fonctionner, nécessite : html,body{ height:100% } */
    min-height:100vh;
}
header {
    background: #f0d5c7;
    margin-bottom:0.4rem;
    padding-bottom:0.5rem;
    border-bottom:1px solid grey;
}
header h1 {
    text-align:center;
    margin:0;
    font-family:"Courier New";
    font-weight:bold;
    font-size:2.5em;
}
header h1 a, header h1 a:hover {
    color:black;
}
#slogan {
    text-align:center;
    font-weight:bold;
    font-size:1.1em;
    letter-spacing:1px;
    color:grey;
}

h2 {
    color:navy;
    margin-top:1em;
}
h3 {
    color:navy;
    font-size:1.5em;
    margin-top:2em;
}
strong {
    font-weight: bold;
}
/* 
 * a = les liens HTML classiques
 * .formlink = boutons de formulaire caché (notamment pour appeler l'API)
 */
a, .formlink {
    text-decoration:none;
    color:darkred;
}
/* Force le curseur "main" même quand il n'y a pas l'attribut href */
a {
    cursor:pointer;
}
a:hover, .formlink:hover {
    color:red;
}

button {
    cursor:pointer;
}

select.browser-default { /* Fix for Materialiaze.css */
    display:inline;
    width:auto;
}

/* Centre les icônes verticalement par rapport à la ligne de texte */
p img {
    vertical-align:middle;
}

hr {
    margin-top:3em;
}
abbr {
    cursor:help;
}

/* Listes */
li {
    line-height:1.4em;
}
.expanded>li {
    padding-top:0.5em;
    padding-bottom:0.5em;
}

/*
 * Mises en forme rapides
 */
.block {
    display:block !important;
}
.hidden {
    display:none !important;
}
.center {
    text-align:center;
}
.right {
    text-align:right;
}
.small {
    font-size:0.8em;
}
.bold {
    font-weight:bold;
}
.darkred {
    color:darkred;
}
.orange-text {
    color:#e65100  !important;
}
.green-text {
    color:green !important;
}
.grey {
    color:grey;
}
.aside {
    /* Texte en aparté */
    display:block;
    margin-left:1em;
    padding:0.4em 0;
    font-size:80%;
    font-style:italic;
}
/* Met en évidence un mot important (par ex. dans la maison du citoyen) */
.highlight {
    color:darkblue;
}
/* Rend plus discrets les mots peu importants */
.discreet {
    color:grey;
}

.inline {
    display:inline;
}

/*
 * Form to login
 */
#connectionForm {
    border:1px solid lightgrey;
    border-radius:0.2em;
    margin:auto;
    padding:0 1rem 1rem 1rem;
    max-width:60%;
}
#connectionForm h2 {
    margin:0.3em;
    font-size:1.8em;
    text-align:center
}
#connectionForm fieldset {
    border-radius: 0.2em;
    margin-top:1em;
    padding:0 0.5em 0.2em 0.5em;
}
#connectionForm input[type="email"],
#connectionForm input[type="password"] {
    width:95%;
    margin:auto;
    padding:0 0.3em;
    font-size:1.1em;
    border:1px solid grey;
}
#connectionForm #buttonsBlock {
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-top:1.5rem;
}
#connectionForm input[type="submit"] {
    font-size:1.2em;
}
#connectionForm .aside {
    margin-left:0.3em;
}

/* Tags */
.chip {
    cursor:pointer;
}
.chip::selection {
    background: none;
}
.chip.active {
    background:darkred;
    color:white;
}

.pointer {
    cursor:pointer;
}
