/*
 * La mini-carte/smartphone à côté du pavé de déplacement.
 * Rien à voir avec le responsive design pour support mobile.
 */
#phone {
    position:relative;
    width:9rem;
    margin:1em auto;
    cursor:default;
    border:3px solid black;
    border-bottom:1.3em solid black;
    border-radius:0.7em;
    box-shadow: 5px 5px 8px black;
}
#phone ::selection {
    background-color:transparent;
}
#phone .title {
    background:black;
    color:grey;
    text-align:center;
    font-weight:bold;
    border-radius:0.5em 0.5em 0 0;
}
#phone .container {
    display:flex;
    height:13em; /* Le ratio hauteur/largeur fait ressembler à un smartphone */
    border-top:1px solid black;
    overflow:hidden;
}

/* Liste des icônes à gauche du smartphone */
#phone .sideicons {
    width:2.2em;
    overflow:hidden;
    background:#212f3d;
    text-align:center;
}
.sideicons div {
    margin-bottom:0.3em;
    padding:0.3em 0 0.3em 0;
}
.sideicons span {
    display:block;
    line-height:150%;
    color:white;
    font-variant:small-caps;
    font-size:0.55em;
}
.sideicons div:hover {
    cursor:pointer;
    background: #2874a6 ;
    border-radius:0.3em 0 0 0.3em;
    color:red;
}

/* La minicarte/GPS verte dans le smartphone */
#minimap {
    height:100%;
    width: 100%;
    background-color:  #145a32 /*#82e0aa*/ ;
    /* Trace des lignes horizontales pour décorer le fond de la mini carte */
    background-image: linear-gradient(transparent 23px,  #1e8449  24px, transparent 24px);
    background-size: 100% 24px;
    overflow:hidden;
}
#minimap:hover {
    background-color:darkgreen;
    cursor:pointer;
}
#minimap .dot {
    line-height:10%;
    font-size:1.5em;
    color:white;
    animation: blinker 2s linear infinite;
}
#minimap .label {
    position:absolute;
    top:-1em;
    left:-0.6em;
    font-size:0.7em;
    color:lightgrey;
}

/* Santé du joueur ou autre onglet textuel du smartphone */
#phone .blocktext {
    width:100%;
    background:#34495e;
    text-align:center;
    color:white;
    font-size:0.9em;
    display:none;
}
#phone h4 {
    background:#273746;
    font-variant:small-caps;
    font-size:0.8em;
    margin:1em 0 0.1em 0;
    font-weight:normal;
    padding:0.15em 0;
    color:#d5f5e3;
}

/* Notification à l'écran du smartphone */
#phone .notif {
    position:absolute;
    bottom:1.5em;
    width:100%;
    height:2.5em;
    background:white;
    text-align:center;
    color:darkred;
    font-size:0.7em;
    /* Empêche le texte de déborder lorsque l'animation réduit la hauteur de la notif */
    overflow:hidden;
    
    animation: fadeout 1s; /* La notif disparaît progressivement */
    animation-delay: 2s;
    animation-fill-mode: forwards; /* Empêche de réapparaître après disparition */
}
/* Effet de clignotement pour le point de localisation du GPS */
@keyframes blinker {
    50% {
        opacity: 0.2;
    }
}
/* Effet de disparition progressif pour les notifications */
@keyframes fadeout {
   100% {opacity:0;height:0;} 
} 
