<template id="tplItem">
    <li class="item_label z-depth-2" data-action="toggleTooltip" data-itemid="">
        <var class="icon" aria-label="{item_name}">{icon}</var>
        <div class="dot_number z-depth-1 hidden">?</div>
        <div class="details hidden"></div>
     </li>
</template>

<template id="tplItemDetails">
    <a class="close" data-action="closeTooltip">
        <i class="material-icons" style="pointer-events:none">close</i>
    </a>
    <var><span class="icon">{icon}</span>&nbsp;<span class="item_name">{item_name}</span></var>
    <p class="descr_ambiance">{descr_ambiance}</p>
    <p class="descr_purpose z-depth-1">{descr_purpose}</p>
    <ul class="caracs">
        <li class="hidden type_booster">
            <i class="material-icons">bolt</i>
            Cet objet donne de l\'énergie
        </li>
        <li class="hidden type_resource">
            <i class="material-icons">construction</i>
            Cet objet est une ressource
        </li>
        <li class="hidden type_weapon">
            <i class="material-icons">sports_kabaddi</i>
            Cet objet est une arme
        </li>
        <li class="hidden preciousness">
            <i class="material-icons">star</i>
            Cet objet est précieux
        </li>
        <li class="hidden defenses">
            <i class="material-icons">shield</i>
            Objet de défense (+<span class="nbr_defenses"></span> pts)
        </li>
        <li class="hidden heaviness">
            <i class="material-icons">fitness_center</i>
            Encombrant dans le sac
        </li>
    </ul>
    <form name="form_drop" class="form_drop" method="post" action="#Outside">
        <input type="hidden" name="api_name" value="zone">
        <input type="hidden" name="action" value="drop">
        <button type="submit" name="params[item_id]" value="" class="redbutton">&veeeq; Déposer</button>
    </form>
    <form name="form_pickup" class="form_pickup" method="post" action="#Outside">
        <input type="hidden" name="api_name" value="zone">
        <input type="hidden" name="action" value="pickup">
        <button type="submit" name="params[item_id]" value="'.$item_id.'" class="redbutton">&wedgeq; Ramasser</button>
    </form>
    <button name="search" class="redbutton" data-action="searchItemOnMap">🔍 Chercher sur la carte</button>
</template>
