<template id="tplPopup">
    <div id="popup" class="overlay">
        <div class="popup z-depth-2">
            <button class="close" data-action="closePopup">
                <i class="material-icons">close</i>
            </button>
            <div class="content"></div>
        </div>
    </div>
</template>

<template id="tplPopControl">
    <h2>&#8505;&#65039; Le contrôle de zone</h2>
    <div class="stageblock">
        <div class="stageicon">&#x1F6E1;&#xFE0F;</div>
        <div class="stagetext">
            Les <strong>points de contrôle</strong> déterminent 
            si les humains peuvent se déplacer dans la zone.
            <ul>
                <li><img src="/resources/img/free/human.png" height="24">
                    Chaque humain (hors bonus) = <strong>2</strong> points.
                </li>
                <li><img src="resources/img/motiontwin/zombie.gif" height="24">
                    Chaque zombie = <strong>1</strong> point.
                </li>
            </ul>
            <hr>
        </div>
    </div>
    <div class="stageblock">
        <div class="stageicon" style="text-shadow:red 0 -1px 4px, red 0 1px 4px">&#x1F480;</div>
        <div class="stagetext">
            Si la somme des points de contrôle des zombies est supérieure 
            à celle des humains, <strong>vous ne pouvez plus quitter la zone !</strong>
            <hr>
        </div>
    </div>
    <div class="stageblock">
        <div class="stageicon">&#x270A;&#x1F3FD;</div>
        <div class="stagetext">
            <strong>Si vous êtes bloqué</strong>, reprenez votre liberté en inversant le rapport de forces :
            <ul>
                <li>• soit en demandant à <strong>d'autres joueurs</strong> de vous rejoindre dans la zone 
                (augmentera le contrôle des humains) ;</li>
                <li>• soit en <strong>tuant des zombies</strong>
                (réduira le contrôle des zombies).</li>
            </ul>
            <hr>
        </div>
    </div>
    <div class="stageblock">
        <div class="stageicon"><img src="/resources/img/free/human.png" height="32"></div>
        <div class="stagetext">
            Plus les humains sont nombreux dans votre zone, plus vous disposez 
            de <strong>points de contrôle</strong> pour contenir les zombies.
            <strong>Sortez groupés</strong> pour éviter les mésaventures...
        </div>
    </div>
</template>