<template id="tplMovementArrows">
    <div id="movement_arrows" aria-label="Flèches de déplacement">
        <button class="northwest" aria-label="Nord-ouest" data-action="walk" data-direction="northwest">
            <span class="arrow animate__animated animate__pulse animate__infinite infinite">▲</span>
        </button>
        <button class="northeast" aria-label="Nord-est" data-action="walk" data-direction="northeast">
            <span class="arrow animate__animated animate__pulse animate__infinite infinite">▲</span>
        </button>
        <button class="west" aria-label="Ouest" data-action="walk" data-direction="west">
            <span class="arrow animate__animated animate__pulse animate__infinite infinite">◀</span>
        </button>
        <button class="east" aria-label="Est" data-action="walk" data-direction="east">
            <span class="arrow animate__animated animate__pulse animate__infinite infinite">▶</span>
        </button>
        <button class="southwest" aria-label="Sud-ouest" data-action="walk" data-direction="southwest">
            <span class="arrow animate__animated animate__pulse animate__infinite infinite">▼</span>
        </button>
        <button class="southeast" aria-label="Sud-est" data-action="walk" data-direction="southeast">
            <span class="arrow animate__animated animate__pulse animate__infinite infinite">▼</span>
        </button>
    </div>
</template>

<template id="tplAttackBar">
    <li role="none">
        <button aria-label="Ouvrir/fermer le menu de l\'application" id="appMenu" class="sidenav-trigger" data-target="slide-out">
            <span class="icon"><i class="material-icons" role="img">menu</i></span>
        </button>
    </li>

    <li id="tuto_dayclock" role="none">
        <a href="#popdayclock" id="zombie_cores_counter"
           aria-label="Nombre de noyaux zombies actifs sur la carte"
           title="Nombre de noyaux zombies actifs sur la carte"
           >
            <img src="resources/img/motiontwin/zombie.gif" alt="" width="14">
            <strong class="number" role="none">{?/?}</strong>
        </a>
        <a href="#popdayclock" id="dayclock">
            <span data-translate="day">Jour</span>
            <strong id="current_day" class="number" role="none">0</strong>
            <span aria-label="Avancer au jour suivant" class="dot_number">
                <i class="material-icons" role="img">fast_forward</i>
            </span>
        </a>
        <a href="#popdayclock" id="city_counter"
           aria-label="Nombre de bâtiments découverts sur la carte"
           title="Nombre de bâtiments découverts sur la carte"
           >
            <img class="city_img" src="resources/img/free/city.svg" alt="" width="24">
            <strong class="number" role="none">{?/?}</strong>
        </a>
    </li>

    <li class="right" role="none">
        <button title="Communications"
            aria-label="Ouvrir/fermer le panneau des communications"
            id="showWall"
            data-action="enlargeWall"
            >
            <span class="icon"><i class="material-icons" role="img">sms</i></span>
            <span class="text" role="img">Communications</span>
        </button>

        <!--
        <a id="notifsButton" title="Notifications">&#x1F514;</a>
        <div id="notifsBlock">
            <a id="notifsClose">X</a>
            <div id="notifsList"><div style="text-align:center;padding:0.8em;color:grey">Chargement en cours...</div></div>
        </div>
        --> 
    </li>
</template>

<template id="tplMapNavigation">
    <button onclick="toggle('#mapRadarMenu')" aria-label="Vues satellite" title="Vues satellite">
        <span class="emoji" style="font-size:60%;margin:-4px 0 0 2px;">&#x1F6F0;&#xFE0F;</span>
    </button>

    <ul id="mapRadarMenu" class="hidden">
        <li data-view="realMap"
            data-action="switchMapView"
            class="active"
            >&#x1F5FA;&#xFE0F; Carte réelle
        </li>
        <li data-view="zombies"
            data-action="switchMapView"
            title="Voir les zombies sur la carte"
            >&nbsp;<img src="resources/img/motiontwin/zombie.gif" alt="&#x1F9DF;">&nbsp; Zombies
        </li>
        <li data-view="explorations"
            data-action="switchMapView"
            title="Voir les zones explorées de la carte"
            >&#x26CF;&#xFE0F; Fouilles
        </li>
        <li data-view="items"
            data-action="switchMapView"
            title="Voir les objets au sol sur la carte"
            >&#x1F392; Objets au sol
        </li>
        <li data-view="neighborhood"
            data-action="switchMapView"
            title="Afficher des informations sur les bâtiments"
            >&#x1F3E2; Bâtiments
        </li>
    </ul>

    <button aria-label="Centrer la carte sur ma zone"
            title="Centrer la carte sur ma zone"
            data-action="centerMapOnMe"
            >
        <i class="material-icons" style="font-size:1.7rem">my_location</i>
    </button>

    <button id="mainZoomButton"
            aria-label="afficher les boutons de zoom"
            data-action="displayZoomButtons"
            >
        <i class="material-icons">zoom_in</i>
    </button>

    <form action="#" id="zoom_form" class="hidden">
        <button type="button"
                aria-label="Zoomer sur la carte"
                title="Agrandir la carte"
                data-action="zoomMapStepIn"
                >
            <i class="material-icons small">add</i>
        </button>
        <p class="range-field">
            <input type="range"
                   value="100" min="70" max="220" step="30"
                   id="zoom_range"
                   data-action="zoomRange"
                   >
        </p>
        <hr onclick="toggle('#zoom_form .range-field')">
        <button type="button"
                aria-label="Dézoomer sur la carte"
                title="Dézoomer sur la carte"
                data-action="zoomMapStepOut"
                >
            <i class="material-icons small">remove</i>
        </button>
    </form>

    <button aria-label="Afficher le smartphone du jeu"
        style="display:none"
        >
        <a href="#popsmartphone" style="font-size:55%" data-action="displayPhone">&#128241;</a>
    </button>

    <button aria-label="Recharger la page">
        <a id="refreshLink" href="" style="font-size:55%" title="Actualiser l'affichage"><span class="emoji">&#x1F504;</span></a>
    </button>

    <!-- 
    <button id="launchTutorial"><i class="material-icons small grey-text text-darken-2">help</i></button>
    -->
</template>

<template id="tplCityframesBar">
    <div class="body">
        <button name="move" class="path" data-action="switchCityframesType" data-frametype="move">
            <span class="icon">&#x1F97E;</span>
            <span class="label">Aller</span>
        </button>
        <button name="defenses" class="path" data-action="switchCityframesType" data-frametype="defenses">
            <span class="icon">&#x1F6E1;&#xFE0F;</span>
            <span class="label">Défenses</span>
        </button>
        <button name="resources" class="path" data-action="switchCityframesType" data-frametype="resources">
            <span class="icon">&#x26CF;&#xFE0F;</span>
            <span class="label">Ressources</span>
        </button>
        <button name="transportations" class="path" data-action="switchCityframesType" data-frametype="transportations">
            <span class="icon">&#x1F681;</span>
            <span class="label">Transports</span>
        </button>
        <button name="weather" class="path" data-action="switchCityframesType" data-frametype="weather">
            <span class="icon">&#x1F327;&#xFE0F;</span>
            <span class="label">Météo</span>
        </button>
        <button name="undiscovered" class="path" data-action="switchCityframesType" data-frametype="undiscovered">
            <span class="icon">&#x2753;</span>
            <span class="label">Inexploré</span>
        </button>
    </div>
    <a class="close z-depth-2">
        <i class="material-icons" data-action="closeCityframesBar">close</i>
    </a>
</template>
