<template id="tplMovementArrows">
    <div id="movement_arrows" aria-label="Flèches de déplacement">
        <button class="northwest" aria-label="Nord-ouest" data-action="walk" data-direction="northwest">
            <span class="arrow animate__animated animate__pulse animate__infinite infinite">▲</span>
        </button>
        <button class="northeast" aria-label="Nord-est" data-action="walk" data-direction="northeast">
            <span class="arrow animate__animated animate__pulse animate__infinite infinite">▲</span>
        </button>
        <button class="west" aria-label="Ouest" data-action="walk" data-direction="west">
            <span class="arrow animate__animated animate__pulse animate__infinite infinite">◀</span>
        </button>
        <button class="east" aria-label="Est" data-action="walk" data-direction="east">
            <span class="arrow animate__animated animate__pulse animate__infinite infinite">▶</span>
        </button>
        <button class="southwest" aria-label="Sud-ouest" data-action="walk" data-direction="southwest">
            <span class="arrow animate__animated animate__pulse animate__infinite infinite">▼</span>
        </button>
        <button class="southeast" aria-label="Sud-est" data-action="walk" data-direction="southeast">
            <span class="arrow animate__animated animate__pulse animate__infinite infinite">▼</span>
        </button>
    </div>
</template>

<template id="tplMapNavigation">
    <button onclick="toggle('#mapRadarMenu')" aria-label="Vues satellite" title="Vues satellite">
        <span style="font-size:50%;margin-top:-0.2em;">&#x1F6F0;&#xFE0F;</span>
    </button>

    <ul id="mapRadarMenu" class="hidden">
        <li data-view="realMap"
            data-action="switchMapView"
            class="active"
            >&#x1F5FA;&#xFE0F; Carte réelle
        </li>
        <li data-view="zombies"
            data-action="switchMapView"
            title="Voir les zombies sur la carte"
            >&nbsp;<img src="resources/img/motiontwin/zombie.gif" alt="&#x1F9DF;">&nbsp; Zombies
        </li>
        <li data-view="explorations"
            data-action="switchMapView"
            title="Voir les zones explorées de la carte"
            >&#x26CF;&#xFE0F; Fouilles
        </li>
        <li data-view="items"
            data-action="switchMapView"
            title="Voir les objets au sol sur la carte"
            >&#x1F392; Objets au sol
        </li>
        <li data-view="neighborhood"
            data-action="switchMapView"
            title="Afficher des informations sur les bâtiments"
            >&#x1F3E2; Bâtiments
        </li>
    </ul>

    <button aria-label="Centrer la carte sur ma zone"
            title="Centrer la carte sur ma zone"
            data-action="centerMapOnMe"
            >
        <i class="material-icons small">my_location</i>
    </button>

    <button id="mainZoomButton"
            aria-label="afficher les boutons de zoom"
            data-action="displayZoomButtons"
            >
        <i class="material-icons small">zoom_in</i>
    </button>

    <form action="#" id="zoom_form" class="hidden">
        <button type="button"
                aria-label="Zoomer sur la carte"
                title="Agrandir la carte"
                data-action="zoomMapStepIn"
                >
            <i class="material-icons small">add</i>
        </button>
        <p class="range-field">
            <input type="range"
                   value="100" min="70" max="220" step="30"
                   id="zoom_range"
                   data-action="zoomRange"
                   >
        </p>
        <hr onclick="toggle('#zoom_form .range-field')">
        <button type="button"
                aria-label="Dézoomer sur la carte"
                title="Dézoomer sur la carte"
                data-action="zoomMapStepOut"
                >
            <i class="material-icons small">remove</i>
        </button>
    </form>

    <button aria-label="Afficher le smartphone du jeu"
        style="display:none"
        >
        <a href="#popsmartphone" style="font-size:55%" data-action="displayPhone">&#128241;</a>
    </button>

    <button aria-label="Recharger la page">
        <a id="refreshLink" href="" style="font-size:55%" title="Actualiser l'affichage">&#x1F504;</a>
    </button>

    <!-- 
    <button id="launchTutorial"><i class="material-icons small grey-text text-darken-2">help</i></button>
    -->
</template>
