<template id="tplMovementArrows">
    <div id="movement_arrows" aria-label="Flèches de déplacement">
        <button class="northwest" aria-label="Nord-ouest" data-action="walk" data-direction="northwest">
            <span class="animate__animated animate__pulse animate__infinite infinite">▲</span>
        </button>
        <button class="northeast" aria-label="Nord-est" data-action="walk" data-direction="northeast">
            <span class="animate__animated animate__pulse animate__infinite infinite">▲</span>
        </button>
        <button class="west" aria-label="Ouest" data-action="walk" data-direction="west">
            <span class="animate__animated animate__pulse animate__infinite infinite">◀</span>
        </button>
        <button class="east" aria-label="Est" data-action="walk" data-direction="east">
            <span class="animate__animated animate__pulse animate__infinite infinite">▶</span>
        </button>
        <button class="southwest" aria-label="Sud-ouest" data-action="walk" data-direction="southwest">
            <span class="animate__animated animate__pulse animate__infinite infinite">▼</span>
        </button>
        <button class="southeast" aria-label="Sud-est" data-action="walk" data-direction="southeast">
            <span class="animate__animated animate__pulse animate__infinite infinite">▼</span>
        </button>
    </div>
</template>
